[Unit]
Description=Wyoming openWakeWord

[Service]
Type=simple
ExecStart={{ wyoming_openwakeword_dir }}/script/run \
  --uri 'tcp://127.0.0.1:10400' \
  --threshold {{ threshold }} \
  --custom-model-dir {{ wyoming_openwakeword_dir }}/custom_models/en/{{ custom_model_dir }}
WorkingDirectory={{ wyoming_openwakeword_dir }}
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
