name: "{{ composition_name }}"
services:
  zfs-api:
    image: ghcr.io/awfulwoman/zfs-api:latest
    container_name: {{ composition_zfs_api_container_name }}
    restart: unless-stopped
    privileged: true
    volumes:
      - /dev/zfs:/dev/zfs:ro
      - {{ composition_zfs_api_zfs_policy_path }}:{{ composition_zfs_api_zfs_policy_path }}:ro
      - {{ composition_zfs_api_zfs_log_path }}:{{ composition_zfs_api_zfs_log_path }}:ro
      - {{ system_zfs_policy_cache_file }}:{{ system_zfs_policy_cache_file }}:ro
      - {{ composition_config }}/app/swagger.yaml:/app/swagger.yaml:ro
    env_file: .environment_vars
{% if composition_zfs_api_traefik_enabled %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ composition_zfs_api_container_name }}.rule=Host(`zfs-api.{{ ansible_facts['hostname'] }}.{{ domainname_infra }}`)"
      - "traefik.http.routers.{{ composition_zfs_api_container_name }}.tls=true"
      - "traefik.http.routers.{{ composition_zfs_api_container_name }}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{ composition_zfs_api_container_name }}.loadbalancer.server.port={{ composition_zfs_api_port }}"
{% endif %}
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
