SPLITWISE_PORT={{ composition_splitwise_port }}
SPLITWISE_DATA_DIR=/app/data
SPLITWISE_ADMIN_USERNAME={{ composition_splitwise_admin_username }}
SPLITWISE_ADMIN_PASSWORD={{ composition_splitwise_admin_password }}
SPLITWISE_DEFAULT_CURRENCY={{ composition_splitwise_default_currency }}
MQTT_ENABLED=true
MQTT_BROKER_HOST={{ composition_splitwise_mqtt_broker }}
MQTT_BROKER_PORT={{ composition_splitwise_mqtt_port }}
MQTT_CLIENT_ID=splitwise-{{ host_name }}
