TZ="Europe/Berlin"
PBF_URL="{{ composition_nominatim_pbf_url }}"
REPLICATION_URL="{{ composition_nominatim_replication_url }}"
NOMINATIM_PASSWORD="{{ composition_nominatim_password }}"
UPDATE_MODE=continuous
