TZ="Europe/Berlin"
PBF_PATH="/nominatim/pbf/data.osm.pbf"
REPLICATION_URL="{{ composition_nominatim_replication_url }}"
NOMINATIM_PASSWORD="{{ composition_nominatim_password }}"
NOMINATIM_FLATNODE_FILE="/var/lib/postgresql/16/main/flat-nodes.bin"
UPDATE_MODE=continuous
