services:
  metube:
    container_name: "{{ container_name }}"
    ports:
       - "8081:8081"
    environment:
      - "TZ=Europe/Berlin"
      - "STATE_DIR=/state"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.affordablepotatoes.com`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "{{ metube_downloads_dir }}:/downloads"
      - "{{ container_config_dir }}/{{ container_name }}/state:/state"
      - /etc/localtime:/etc/localtime:ro
