services:
  metube:
    container_name: "{{ container_name }}"
    ports:
       - "8081:8081"
    privileged: true
    environment:
      - "TZ=Berlin/Europe"
      - "STATE_DIR=/state"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.metube.rule=Host(`metube.affordablepotatoes.com`)"
      - "traefik.http.routers.metube.tls=true"
      - "traefik.http.routers.metube.tls.certresolver=letsencrypt"
    volumes:
      - "{{ metube_downloads_dir }}:/downloads"
      - "{{ container_config_dir }}/{{ container_name }}/state:/state"
      - /etc/localtime:/etc/localtime:ro
