TZ="Europe/Berlin"
SYMFONY__ENV__DOMAIN_NAME="https://wallabag.{{ domain_name }}"

# Linkwarden
NEXTAUTH_URL=http://localhost:3000/api/v1/auth
NEXTAUTH_SECRET="{{ vault_linkwarden_POSTGRES_PASSWORD }}"

POSTGRES_USER=dbuser1
POSTGRES_PASSWORD="{{ vault_linkwarden_POSTGRES_PASSWORD }}"
POSTGRES_DB=linkwarden

DATABASE_URL=postgresql://dbuser1:{{vault_linkwarden_POSTGRES_PASSWORD}}@linkwarden-postgres:5432/postgres