TZ="Europe/Berlin"
WYOMING_PORT="{{ composition_pocket_tts_port }}"
DEFAULT_VOICE="{{ composition_pocket_tts_voice }}"
LOG_LEVEL="{{ composition_pocket_tts_log_level }}"
HF_TOKEN="{{ composition_pocket_tts_hf_token }}"
