TZ="Europe/Berlin"
WEBPASSWORD="{{ vault_pihole_password }}"
DHCP_ACTIVE="false"
# DHCP_START="192.168.1.150"
# DHCP_END="192.168.1.199"
# DHCP_ROUTER="192.168.1.1"
# PIHOLE_DOMAIN="{{ domain_name }}"
ADMIN_EMAIL="pihole@{{ domain_name }}"
DNS_FQDN_REQUIRED="true"
WEBTHEME=default-dark
PIHOLE_UID=1000
PIHOLE_GID=1003
# DNSMASQ_LISTENING=all
VIRTUAL_HOST="pi.hole" 
PROXY_LOCATION="pi.hole"
FTLCONF_LOCAL_IPV4="127.0.0.1" 
