services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - 8384:8384 # Web UI
      - 22000:22000/tcp # TCP file transfers
      - 22000:22000/udp # QUIC file transfers
      - 21027:21027/udp # Receive local discovery broadcasts
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.affordablepotatoes.com`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "{{ syncthing_data_path }}:/data"
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - /etc/localtime:/etc/localtime:ro
