# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create .env file"
  ansible.builtin.template:
    src: environment_vars.j2
    dest: "{{ composition_root }}/.environment_vars"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

# ----------------------------
# Specific tasks
# ----------------------------

# - name: Create directories
#   file:
#     path: "{{ composition_config }}/{{ dir_item }}"
#     state: directory
#   loop_control:
#     loop_var: dir_item
#   loop:
#     - whatever1
#     - whatever2
#     - whatever3

# - name: Copy over files
#   become: true
#   ansible.builtin.copy:
#     src: filename.txt
#     dest: "{{ composition_config }}/filename.txt

- name: Run Configure DNS role
  ansible.builtin.include_role:
    name: "network-register-subdomain"
  vars:
    configure_dns_subdomains:
      - "syncthing.{{ ansible_hostname }}"
