- name: Ensure path is created
  become: true
  ansible.builtin.file:
    path: "{{ script_share_personal_site_path }}/{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
  loop:
    - "{{ script_share_personal_site_name }}"
    - dummycontent

- name: Copy over dummy content
  ansible.builtin.copy:
    src: ./
    dest: "{{ script_share_personal_site_path }}/dummycontent"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Copy over script
  ansible.builtin.template:
    src: share-site.sh
    dest: "{{ script_share_personal_site_path }}/share-site.sh"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0744"

- name: Set up cron for script
  ansible.builtin.cron:
    name: "Share Site"
    minute: "0"
    hour: "23"
    job: "{{ script_share_personal_site_path }}/share-site.sh > /dev/null 2>&1"
