name: "{{ composition_name }}"
services:
  n8n:
    container_name: n8n
    image: docker.io/n8nio/n8n:latest
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.{{ domain_name }}`)"
      - "traefik.http.routers.n8n.tls=true"
      - "traefik.http.routers.n8n.tls.certresolver=letsencrypt"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
    volumes:
      - "{{ composition_config }}/n8n-data:/home/node/.n8n"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    depends_on:
      n8n-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:5678/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1m

  n8n-db:
    container_name: n8n_db
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: .environment_vars
    volumes:
      - "{{ composition_config }}/n8n-db:/var/lib/postgresql/data"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U n8n -d n8n"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  "{{ default_docker_network }}":
    external: true
