TZ="Europe/London"

# Postgres
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD={{ n8n_db_password }}

# n8n
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=n8n-db
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
N8N_HOST=n8n.{{ domain_name }}
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.{{ domain_name }}/
