# code: language=ansible
name: "{{ composition_name }}"
services:
  gotosocial:
    image: superseriousbusiness/gotosocial:0.20.2
    container_name: gotosocial
    restart: unless-stopped
    env_file: .environment_vars
    user: 1000:1000
    ports:
      - "8085:8080"
    labels:
      - "traefik.enable=true"
    volumes:
      - "{{ composition_config }}/config.yaml:/gotosocial/config.yaml"
      - "{{ composition_config }}/data:/gotosocial/storage"
      - "{{ composition_config }}/.cache:/gotosocial/.cache"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8080/api/v1/instance"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  "{{ default_docker_network }}":
    external: true
