# code: language=ansible
name: "{{ composition_name }}"
services:
  gotosocial:
    image: superseriousbusiness/gotosocial:latest
    container_name: gotosocial
    restart: unless-stopped
    env_file: .environment_vars
    user: 1000:1000
    networks:
      - gotosocial
    ports:
      - "8085:8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.SUBDOMAIN.rule=Host(`SUBDOMAIN.{{ domain_name }}`)"
      - "traefik.http.routers.SUBDOMAIN.tls=true"
      - "traefik.http.routers.SUBDOMAIN.tls.certresolver=letsencrypt"
    volumes:
      - {{ composition_config }}/data:/gotosocial/storage
      - {{ composition_config }}/.cache:/gotosocial/.cache
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true