services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
      - SYS_NICE
      - CHOWN
    dns:
      - 127.0.0.1  
    environment:
      - "TZ=Europe/Berlin"
      - "WEBPASSWORD={{ vault_pihole_password }}"
      - "DHCP_ACTIVE=false"
      - "DHCP_START=192.168.1.150"
      - "DHCP_END=192.168.1.199"
      - "DHCP_ROUTER=192.168.1.1"
      - "PIHOLE_DOMAIN=i.affordablepotatoes.com"
      - "ADMIN_EMAIL=pihole@{{ domain_name }}"
      - "DNS_FQDN_REQUIRED=true"
      - "PUID=1000"
      - "GUID=1000"
      # "DNSMASQ_USER=root"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/pihole/:/etc/pihole/"
      - "{{ container_config_dir }}/{{ container_name }}/dns/:/etc/dnsmasq.d/"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ docker_default_network }}"