echo ""
echo "##############################################"
echo "# YOU ARE NOW ENTERING THE ANSIBLE ZONE"
echo "# ANISBLE TOOLS LOADED"
echo "##############################################"
echo ""
source .venv/bin/activate
