[defaults]
inventory = ./inventory
playbook_dir = ./playbooks
filter_plugins = ./plugins/filters
interpreter_python = auto_silent
host_key_checking = false
deprecation_warnings = true
vault_identity = beanpod
vault_password_file = /opt/ansible/.vaultpassword
roles_path = /opt/ansible/galaxy/roles:./roles
collections_path = /opt/ansible/galaxy/collections
# stdout_callback = compact
# result_format = yaml
# bin_ansible_callbacks = true
# display_ok_hosts = true
display_skipped_hosts = false
display_includes = false
nocows = true
