[defaults]
inventory = ./ansible/inventory/hosts.yaml
playbook_dir = ./ansible/playbooks
filter_plugins = ./ansible/plugins/filters
interpreter_python = auto_silent
# deprecation_warnings = False
vault_identity = beanpod
# vault_password_file = ~/.ansible/password
roles_path = ~/.ansible/roles:./ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/opt/ansible/collections:/opt/ansible/galaxy-roles
# collections_paths = /opt/ansible/collections:./collections/ansible_collections
stdout_callback = debug
bin_ansible_callbacks = true
display_ok_hosts = true
display_skipped_hosts =false
display_includes = true
# cow_selection = random
nocows = true
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
