[defaults]
inventory = ./ansible/inventory/hosts.yaml
playbook_dir = ./ansible/playbooks
filter_plugins = ./ansible/plugins/filters
interpreter_python = auto_silent
host_key_checking = false
deprecation_warnings = true
vault_identity = beanpod
vault_password_file = /opt/ansible/.vaultpassword
roles_path = /opt/ansible/galaxy/roles:./ansible/roles
collections_path = /opt/ansible/galaxy/collections
result_format = yaml
bin_ansible_callbacks = true
display_ok_hosts = false
display_skipped_hosts = false
display_includes = false
nocows = true
