# code: language=ansible
name: "{{ composition_name }}"
services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    ports:
      - "9091:9091"
    privileged: true
    user: "1000:1000"
    group_add:
      - dialout
    devices:
      - "{{ zigbee_usb_device }}:/dev/ttyACM0"
    env_file: .environment_vars
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zigbee2mqtt.rule=Host(`zigbee2mqtt.{{ domain_name }}`)"
      - "traefik.http.routers.zigbee2mqtt.tls=true"
      - "traefik.http.routers.zigbee2mqtt.tls.certresolver=letsencrypt"
    volumes:
      - "{{ composition_config }}:/app/data"
      - "/run/udev:/run/udev:ro"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"



networks:
  "{{ default_docker_network }}":
    external: true