[Unit]
Description=Run zfs-backup-pull after wake from suspend or hibernate
After=suspend.target 

[Service]
User=root
Type=oneshot
ExecStart=/opt/zfsbackup
TimeoutSec=0

[Install]
WantedBy=suspend.target 

