[Unit]
Description=Run zfs-backup-pull after wake from suspend or hibernate
After=sleep.target hybrid-sleep.target 

[Service]
User=root
Type=oneshot
ExecStart=/opt/zfsbackup/pull-zfs-backups
TimeoutSec=0

[Install]
WantedBy=sleep.target hybrid-sleep.target 

