services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "8082:8082"
    # privileged: true
    environment:
      - "TZ=Europe/Berlin"
      - "CRON_MIN=1,31"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.{{ domain_name }}`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/data:/var/www/FreshRSS/data"
      - "{{ container_config_dir }}/{{ container_name }}/extensions:/var/www/FreshRSS/extensions"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ docker_default_network }}"