services:
  homedashboard:
    container_name: "{{ container_name }}"
    ports:
      - "8012:80"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "UMASK=007"
      - "TZ=Europe/Berlin"
      # - "APP_URL=https://heimdall.affordablepotatoes.com:8012"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.heimdall.rule=Host(`homeautomation.affordablepotatoes.com`)"
      - "traefik.http.routers.heimdall.tls=true"
      - "traefik.http.routers.heimdall.tls.certresolver=letsencrypt"
      - "diun.enable=true"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
