ansible_host: host-mqtt
ansible_user: "{{ vault_server_username }}"

host_type: baremetal
host_name: host-mqtt
host_city: ber
host_location: xberg
host_ipv4: 
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# --- NETWORK -------------
configure_dns_linkdevice_physical: "eth0" 

# --- ZFS -------------

# ZFS pools
zfs_pools:
  - fastpool

# Named ZFS datasets
container_config_zfs_id: fastpool/containers
container_compositions_zfs_id: fastpool/compositions

# Datasets present
zfs_datasets:
  - "{{ container_compositions_zfs_id }}"
  - "{{ container_config_zfs_id }}"

# Datasets to be backed-up
# These datasets will be pulled to a backup server
zfs_backup_datasets:
  - "{{ container_compositions_zfs_id }}"

# Define useful paths from ZFS datasets
compositions_config_dir: "/{{ container_compositions_zfs_id }}"

compositions:
  - mqtt
  - container-management
