# code: language=ansible
name: "{{ composition_name }}"
services:
  karakeep:
    container_name: karakeep
    image: ghcr.io/karakeep-app/karakeep:0.33.1
    restart: unless-stopped
    ports:
      - "127.0.0.1:8714:3000"
    env_file:
      - .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.karakeep.rule=Host(`karakeep.{{ domainname_infra }}`)"
      - "traefik.http.routers.karakeep.tls=true"
      - "traefik.http.routers.karakeep.tls.certresolver=letsencrypt"
    environment:
      MEILI_ADDR: http://meilisearch:7700
      BROWSER_WEB_URL: http://chrome:9222
      # OPENAI_API_KEY: ...
      DATA_DIR: /data
    volumes:
      - "{{ composition_config }}/karakeep:/data"
    networks:
      - "{{ default_docker_network }}"

  chrome:
    image: ghcr.io/karakeep-app/karakeep-chrome:release
    restart: unless-stopped
    init: true
    command:
      - --disable-gpu
      - --disable-dev-shm-usage
      - --hide-scrollbars
      - --disable-blink-features=AutomationControlled
      - --window-size=1440,900
    networks:
      - "{{ default_docker_network }}"

  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    env_file:
      - .environment_vars
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - "{{ composition_config }}/meilisearch:/meili_data"
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
