TZ="Europe/Berlin"

# App
APP_NAME="Pixelfed"
APP_ENV="production"
APP_KEY="{{ pixelfed_app_key }}"
APP_URL="{{ pixelfed_app_url }}"
APP_DOMAIN="{{ pixelfed_app_domain }}"
ADMIN_DOMAIN="{{ pixelfed_admin_domain }}"
SESSION_DOMAIN="{{ pixelfed_app_domain }}"
TRUST_PROXIES="*"
LOG_CHANNEL="stderr"

# Database
DB_CONNECTION="mysql"
DB_HOST="db"
DB_PORT="3306"
DB_DATABASE="pixelfed"
DB_USERNAME="pixelfed"
DB_PASSWORD="{{ pixelfed_db_password }}"
MYSQL_ROOT_PASSWORD="{{ pixelfed_db_root_password }}"
MYSQL_DATABASE="pixelfed"
MYSQL_USER="pixelfed"
MYSQL_PASSWORD="{{ pixelfed_db_password }}"

# Redis
REDIS_HOST="redis"
REDIS_PORT="6379"
CACHE_DRIVER="redis"
SESSION_DRIVER="redis"
QUEUE_DRIVER="redis"

# Upload limits
PHP_POST_MAX_SIZE="500M"
PHP_UPLOAD_MAX_FILE_SIZE="500M"

# Laravel auto-run
SSL_MODE="off"
AUTORUN_LARAVEL_MIGRATION="true"
AUTORUN_LARAVEL_MIGRATION_ISOLATION="true"
AUTORUN_LARAVEL_STORAGE_LINK="true"
AUTORUN_LARAVEL_ROUTE_CACHE="true"
AUTORUN_LARAVEL_CONFIG_CACHE="true"
AUTORUN_LARAVEL_VIEW_CACHE="true"

# Instance
OPEN_REGISTRATION="false"
ENFORCE_EMAIL_VERIFICATION="true"
OAUTH_ENABLED="true"
INSTANCE_DISCOVER_PUBLIC="true"

# ActivityPub
ACTIVITY_PUB="true"
AP_REMOTE_FOLLOW="true"
AP_INBOX="true"
AP_OUTBOX="true"
AP_SHAREDINBOX="true"

# Storage
FILESYSTEM_DRIVER="local"
