services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "8072:80"
    # privileged: true
    hostname: "{{ ansible_hostname }}"
    environment:
      - "TZ=Europe/Berlin"
      - "TOKEN=superSecretPassw0rd"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.{{ ansible_hostname }}.{{ domain_name }}`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/var/www/html"
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - "{{ docker_default_network }}"