services:
  zigbee2mqtt:
    container_name: "{{ container_name }}"
    ports:
      - "{{ container_port }}:9091"
    privileged: true
    user: "{{ container_user_id }}:{{ container_user_id }}"
    group_add:
      - dialout
    devices:
      - "{{ zigbee_device }}"
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zigbee2mqtt.rule=Host(`zigbee2mqtt.{{ domain_name }}`)"
      - "traefik.http.routers.zigbee2mqtt.tls=true"
      - "traefik.http.routers.zigbee2mqtt.tls.certresolver=letsencrypt"
      - "homepage.group=Home Automation"
      - "homepage.name=zigbee2mqtt"
      - "homepage.href=https://zigbee2mqtt.{{ domain_name }}"
      - "homepage.description=Zigbee controller"
    networks:
      - "{{ docker_default_network }}"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/app/data"
      - "/run/udev:/run/udev:ro"
      - /etc/localtime:/etc/localtime:ro
