# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Add {{ ansible_user }} user to docker group"
  become: true
  ansible.builtin.user:
    user: "{{ ansible_user }}"
    groups: docker
    append: true

- name: "Add {{ ansible_user }} user to docker group"
  become: true
  ansible.builtin.user:
    user: "{{ ansible_user }}"
    groups: video
    append: true

- name: Run Configure DNS role
  ansible.builtin.include_role:
    name: "network-register-subdomain"
  vars:
    configure_dns_subdomains:
      - guineacams

# ----------------------------
# Start composition
# ----------------------------

- name: Start Docker Compose project
  community.docker.docker_compose_v2:
    project_src: "{{ composition_root }}"
    state: present
    build: always
    remove_orphans: true
