services:
  mailserver:
    container_name: "{{ container_name }}"
    ports:
      - 127.0.0.1:25:25 # allows sending from host
    environment:
      - "TZ=Europe/Berlin"
      # - "SMARTHOST_ADDRESS={{ vault_smtp_server }}"
      # - "SMARTHOST_PORT=587"
      # - "SMARTHOST_USER={{ vault_smtp_user }}"
      # - "SMARTHOST_PASSWORD={{ vault_smtp_password }}"
      - "GMAIL_USER={{ vault_smtp_gmail_username }}"
      - "GMAIL_PASSWORD={{ vault_smtp_gmail_password }}"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - "{{ docker_default_network }}"