TZ="Europe/Berlin"
ES_URL=http://archivist-es:9200     # needs protocol e.g. http and port
REDIS_HOST=archivist-redis          # don't add protocol
HOST_UID=1000
HOST_GID=1000
TA_HOST=tubearchivist.{{ domain_name }}         # set your host name
TA_USERNAME=tubearchivist           # your initial TA credentials
TA_PASSWORD=verysecret              # your initial TA credentials
ELASTIC_PASSWORD=verysecret         # set password for Elasticsearch