# code: language=ansible
- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create .env file"
  ansible.builtin.template:
    src: environment_vars.j2
    dest: "{{ composition_root }}/.environment_vars"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Create directories
  ansible.builtin.file:
    path: "{{ composition_config }}/{{ dir_item }}"
    state: directory
  loop_control:
    loop_var: dir_item
  loop:
    - media

- name: Run Configure DNS role
  ansible.builtin.include_role:
    name: "configure-dns"
  vars:
    configure_dns_subdomains:
      - homeassistant
      - ha
      - esphome
