# code: language=ansible
name: "{{ composition_name }}"
services:
  radicale:
    container_name: radicale
    image: tomsquest/docker-radicale:latest
    restart: unless-stopped
    env_file: .environment_vars
    environment:
      RADICALE_CONFIG_SERVER_HOSTS: "0.0.0.0:5232"
      RADICALE_CONFIG_STORAGE_FILESYSTEM_FOLDER: /data/collections
      RADICALE_CONFIG_AUTH_TYPE: htpasswd
      RADICALE_CONFIG_AUTH_HTPASSWD_FILENAME: /config/users
      RADICALE_CONFIG_AUTH_HTPASSWD_ENCRYPTION: bcrypt
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5232"]
      interval: 30s
      timeout: 5s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radicale.rule=Host(`radicale.{{ domainname_infra }}`)"
      - "traefik.http.routers.radicale.tls=true"
      - "traefik.http.routers.radicale.tls.certresolver=letsencrypt"
      - "traefik.http.services.radicale.loadbalancer.server.port=5232"
    volumes:
      - "{{ composition_config }}/collections:/data/collections"
      - "{{ composition_config }}/users:/config/users:ro"
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
