services:
  mqttbroker:
    container_name: "{{ container_name }}"
    ports:
      - "1883:1883"
    privileged: true
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mosquitto.rule=Host(`mqtt.{{ domain_name }}`)"
      - "homepage.group=Home Automation"
      - "homepage.name=Mosquitto"
      - "homepage.description=MQTT Broker"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/config:/mosquitto/config"
      - "{{ container_config_dir }}/{{ container_name }}/data:/mosquitto/data"
      - "{{ container_config_dir }}/{{ container_name }}/log/:/mosquitto/log"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - "{{ docker_default_network }}"