- name: Ensure ZFS dependencies are installed
  become: true
  ansible.builtin.apt:
    name:
      - zfsutils-linux
      - acl
    state: present

# Testing config stored in <reporoot>/ansible/inventory/host_vars/host-albion/core.yaml
- name: New ZFS config testing
  when: zfs is defined
  block:
    - name: Check status of pools
      ansible.builtin.command:
        cmd: "zpool status {{ item }}"
      register: zpool_check_result
      loop: "{{ zfs | zfs_all_pools }}"
      changed_when: false
      ignore_errors: true

    # - name: DEBUG zpool_check_result
    #   ansible.builtin.debug:
    #     var: zpool_check_result

    - name: Address failed pools
      when: zpool_check_result.failed is defined and zpool_check_result.failed
      block:
        - name: Attempt to import pool from block storage device
          ansible.builtin.debug:
            msg: "zpool import {{ item.item }}"
          loop: "{{ zpool_check_result.results | selectattr('rc', '>', 0) | list }}"

        - name: Check status of pools after import attempt
          ansible.builtin.command:
            cmd: "zpool status {{ item }}"
          register: zpool_check_result_import
          loop: "{{ zfs | zfs_all_pools }}"
          changed_when: false
          ignore_errors: true

        # - name: DEBUG wha
        #   ansible.builtin.debug:
        #     msg: "{{ zpool_check_result_import }}"

        - name: From remaining uninitialised pools get those with device specified
          ansible.builtin.debug:
            msg: "zpool create {{ item.item }} - {{ zfs[item.item].device }}"
          when: zfs[item.item].device is defined
          loop: "{{ zpool_check_result_import.results | selectattr('rc', '>', 0) | list }}"
          register: zpool_check_result_create

    - name: Ensure datasets exist
      become: true
      # community.general.zfs:
      #   name: "{{ item.dataset }}"
      #   state: present
      #   extra_zfs_properties: "{{ item.properties | default('[]') }}"
      ansible.builtin.shell: # Shell, because of pipes
        cmd: >-
          {%- if item.properties is defined -%}
          {%- if item.properties.passphrase is defined -%}
          echo {{ item.properties.passphrase }} |
          {%- endif -%}
          {%- endif -%}
          zfs create
          {% if item.properties is defined %}
          {%- for key, value in item.properties.items() -%}
          {%- if key != 'passphrase' %}
          -o {{ key }}={%if value is sameas true or item is sameas false %}{{ value | ternary('on', 'off') }} {% else %}{{ value }} {% endif %}
          {%- endif -%}
          {%- endfor -%}
          {%- endif -%}
          {{ item.dataset }}
        creates: "{{ item.dataset }}"
      loop: "{{ zfs | zfs_datasets_with_config }}"
      register: creation
      ignore_errors: true

    - name: DEBUG creation
      ansible.builtin.debug:
        var: creation
