# code: language=ansible
name: "{{ composition_name }}"
services:
  syncthing:
    container_name: syncthing
    network_mode: host
    image: syncthing/syncthing
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syncthing.rule=Host(`syncthing.{{ ansible_host }}.{{ domain_name }}`)"
      - "traefik.http.routers.syncthing.tls=true"
      - "traefik.http.routers.syncthing.tls.certresolver=letsencrypt"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
    restart: unless-stopped
    volumes:
    {% for key, value in syncthing_paths.items() %}
    - "{{ value }}:/{{ key }}"
    {% endfor %}

    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

networks:
  "{{ default_docker_network }}":
    external: true
