# code: language=ansible-jinja
name: "{{ composition_name }}"
services:
  guineacam01:
    ports:
      - 18001:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/v4l/by-id/usb-SMI_PC_Cam-video-index0:/dev/video0

  guineacam02:
    ports:
      - 18002:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/v4l/by-id/usb-USB_Camera_USB_Camera_USB_Camera-video-index0:/dev/video0

  # guineacam03:
  #   ports:
  #     - 18003:8080
  #   image: mkuf/ustreamer:latest
  #   restart: unless-stopped
  #   networks:
  #     - "{{ default_docker_network }}"
  #   devices:
  #     - /dev/v4l/by-id/usb-Microsoft_Microsoft®_LifeCam_Cinema_TM_-video-index0:/dev/video0



networks:
  "{{ default_docker_network }}":
    external: true
