services:
  uptimekuma:
    container_name: "{{ container_name }}"
    ports:
      - "3001:3001"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptimekuma.rule=Host(`uptime-kuma.affordablepotatoes.com`)"
      - "traefik.http.routers.uptimekuma.tls=true"
      - "traefik.http.routers.uptimekuma.tls.certresolver=letsencrypt"
    volumes:
      - "{{ container_config_dir }}:/app/data"
      - "/etc/localtime:/etc/localtime:ro"
