services:
  uptimekuma:
    container_name: "{{ container_name }}"
    ports:
      - "3001:3001"
    image: "{{ container_image }}"
    restart: unless-stopped
    environment:
      PUID: "1000"
      PGID: "1000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptimekuma.rule=Host(`uptime-kuma.affordablepotatoes.com`)"
      - "traefik.http.routers.uptimekuma.tls=true"
      - "traefik.http.routers.uptimekuma.tls.certresolver=letsencrypt"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/app/data"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/etc/localtime:/etc/localtime:ro"
