{% if composition_chives_mcps %}
mcp_servers:
{% for mcp in composition_chives_mcps %}
  - url: {{ mcp.url }}
{% if mcp.auth_key is defined %}
    auth_key: {{ mcp.auth_key }}
{% endif %}
{% endfor %}
{% else %}
mcp_servers: []
{% endif %}
