# code: language=ansible
name: "{{ composition_name }}"
services:
  watchtower:
    container_name: watchtower
    image: beatkind/watchtower
    restart: unless-stopped
    env_file: .environment_vars
    volumes:
      - "{{ composition_config }}/config.json:/config.json"
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
