all:
  hosts:
    homebrain:
    host-backups:
    host-storage:
    sites:
    host-mba2011:
    # host-albion:
    deedee:
    samson:
    testrouter:
    pikvm:
    belinda:
    vagrant-wrapper:
    appletv:
      host_type: baremetal
      host_name: appletv
      host_city: ber
      host_location: xberg
      host_ipv4: 192.168.1.221
      host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
      host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"
    chromecast:
      host_type: baremetal
      host_name: chromecast
      host_city: ber
      host_location: xberg
      host_ipv4: 192.168.1.221
      host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
      host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

  children:

    # Vagrant Wrappers
    vagrant:
      hosts:
        vagrant-wrapper:

    # Devices
    devices:
      hosts:
        appletv:
        chromecast:

    # Infrastructure
    infra:
      hosts:
        homebrain:
        host-backups:
        host-storage:
        sites:
        samson:
        # host-albion:
        deedee:
        # testrouter:
        pikvm:
        belinda:

    # Home Automation
    homeautomation:
      hosts:
        homebrain:

    # Hosts that use ZFS in any way
    zfs:
      hosts:
        host-storage:
        homebrain:
        deedee:
        host-backups:
        # host-albion: # Has died
        samson:
        sites:
        belinda:

    # Hosts acting as replication sources/clients
    zfs-backup-clients:
      hosts:
        host-storage:
        homebrain:
        deedee:
        sites:
        samson:

    # Hosts acting as backup/replication server(s)
    zfs-backup-servers:
      hosts:
        host-backups:
        belinda:

    # Offsite replication destination
    # zfs-backup-offsite:
    #   hosts:
    #     host-albion:

    # Hosts that static sites can be deployed to
    sitedeployment:
      hosts:
        sites:
