all:
  hosts:
    host-homeassistant:
    host-mqtt:
    host-backups:
    host-storage:
    vm-awfulwoman:
    host-mba2011:
    host-albion:
    dns:
    router:
    pikvm:

  children:
    infra:
      hosts:
        host-homeassistant:
        host-mqtt:
        host-backups:
        host-storage:
        vm-awfulwoman:
        host-albion:
        dns:
        router:
        pikvm:

    # Group: Home Automation
    homeautomation:
      hosts:
        host-homeassistant:

    # Replication sources that will be backed up
    zfs-backup-clients:
      hosts:
        host-storage:
        host-mqtt:
        host-homeassistant:
        host-albion:
        dns:

    # Necessary to handle deployment keys
    sitedeployment: 
      hosts:
        vm-awfulwoman:
