all:
  hosts:
    host-homeassistant:
    host-backups:
    host-storage:
    vm-awfulwoman-hetzner:
    host-mba2011:
    host-albion:
    dns:
    testrouter:
    pikvm:
    appletv:
      host_type: baremetal
      host_name: appletv
      host_city: ber
      host_location: xberg
      host_ipv4: 192.168.1.221
      host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
      host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"
    chromecast:
      host_type: baremetal
      host_name: chromecast
      host_city: ber
      host_location: xberg
      host_ipv4: 192.168.1.221
      host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
      host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

  children:
    # Devices
    devices:
      hosts:
        appletv:
        chromecast:

    # Infrastructure
    infra:
      hosts:
        host-homeassistant:
        host-backups:
        host-storage:
        vm-awfulwoman:
        vm-awfulwoman-hetzner:
        host-albion:
        dns:
        testrouter:
        pikvm:

    # Home Automation
    homeautomation:
      hosts:
        host-homeassistant:

    # Replication sources that will be backed up
    zfs-backup-clients:
      hosts:
        host-storage:
        host-homeassistant:
        host-albion:
        dns:

    # Necessary to handle deployment keys
    sitedeployment:
      hosts:
        vm-awfulwoman-hetzner:
