# code: language=ansible
name: "{{ composition_name }}"
services:
  SERVICENAME:
    container_name: CONTAINERNAME
    ports:
      - "127.0.0.1:OUTSIDE:INSIDE"
    image: IMAGENAME
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.SUBDOMAIN.rule=Host(`SUBDOMAIN.{{ domain_name }}`)"
      - "traefik.http.routers.SUBDOMAIN.tls=true"
      - "traefik.http.routers.SUBDOMAIN.tls.certresolver=letsencrypt"
      # - "homepage.group=GROUP"
      # - "homepage.name=SUBDOMAIN"
      # - "homepage.href=https://SUBDOMAIN.{{ domain_name }}"
      # - "homepage.description=whatever"
    volumes:
      - "{{ composition_config }}:/INSIDEPATH"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"



networks:
  "{{ default_docker_network }}":
    external: true