---
- name: Disable Canonical Advertisment of the Day
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0664"
    modification_time: preserve
    access_time: preserve
  loop: "{{ motd_targets }}"

- name: Ensure ZFS login message exists
  become: true
  ansible.builtin.copy:
    owner: root
    group: root
    mode: "0775"
    src: 99-zfspool
    dest: /etc/update-motd.d/99-zfspool
