# code: language=ansible
name: "{{ composition_name }}"
services:
  mosquitto:
    container_name: mosquitto
    ports:
      - "0.0.0.0:1883:1883"
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    env_file: .environment_vars
    volumes:
      - "{{ composition_config }}/mosquitto.conf:/mosquitto/config/mosquitto.conf"
      - "{{ composition_config }}/data:/mosquitto/data"
      - "{{ composition_config }}/log:/mosquitto/log"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
