services:
  transmission:
    container_name: "{{ container_name }}"
    network_mode: "service:gluetun" 
    image: "{{ container_image }}"
    restart: unless-stopped
    environment:
      - "PUID={{ container_user_id }}"
      - "PGID={{ container_user_id }}"
      - "TZ=Europe/Berlin"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "{{ transmission_torrent_path }}:/data/downloads/torrents"
      - "/etc/localtime:/etc/localtime:ro"
