[Unit]
Description=Infrastructure Automation Playbook Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ automation_infra_script_path }}
StandardOutput=journal
StandardError=journal
TimeoutStartSec=3600

[Install]
WantedBy=multi-user.target
