[Unit]
Description=Infrastructure Automation Playbook Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ ansible_infra_dir }}
ExecStart={{ automation_infra_ansible_playbook_bin }} \
  {{ automation_infra_playbook }} \
  --inventory {{ automation_infra_inventory }} \
  --vault-password-file {{ automation_infra_vault_password_file }}
StandardOutput=journal
StandardError=journal
TimeoutStartSec=3600

[Install]
WantedBy=multi-user.target
