[Unit]
Description=Infrastructure Automation Playbook Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory={{ home_repo_dir }}
ExecStart=/usr/bin/ansible-playbook \
  {{ automation_infra_playbook }} \
  --inventory {{ automation_infra_inventory }} \
  --vault-password-file {{ automation_infra_vault_password_file }}
StandardOutput=journal
StandardError=journal
TimeoutStartSec=3600

[Install]
WantedBy=multi-user.target
