# code: language=ansible-jinja
name: "{{ composition_name }}"
services:
  mjpg-streamer:
    container_name: mjpg-streamer
    ports:
      - 8080:8080
    image: patsoffice/mjpg-streamer
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/v4l/by-id/usb-SMI_PC_Cam-video-index0:/dev/video0
      - /dev/v4l/by-id/usb-USB_Camera_USB_Camera_USB_Camera-video-index0

networks:
  "{{ default_docker_network }}":
    external: true
