# code: language=ansible-jinja
name: "{{ composition_name }}"
services:
  mjpg-streamer:
    container_name: mjpg-streamer
    ports:
      - 8080:8080
    image: patsoffice/mjpg-streamer
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
  {% if composition_motioneye_usbdevice %}
    devices:
      - "{{ composition_motioneye_usbdevice }}"
  {% endif %}

networks:
  "{{ default_docker_network }}":
    external: true
