DJANGO_SECRET_KEY="{{ vault_memorybank_django_secret_key }}"
DJANGO_DEBUG="false"
DJANGO_ALLOWED_HOSTS="memorybank.{{ domainname_infra }}"
CSRF_TRUSTED_ORIGINS="https://memorybank.{{ domainname_infra }}"
SQLITE_PATH="/data/db/db.sqlite3"
MEDIA_ROOT="/data/media"
