services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "8672:80"
    environment:
      - "TZ=Europe/Berlin"
      - "SYMFONY__ENV__SERVER_NAME={{ subdomain }}.affordablepotatoes.com"
      - "SYMFONY__ENV__DOMAIN_NAME=https://{{ subdomain }}.affordablepotatoes.com"
      - "MYSQL_ROOT_PASSWORD={{ vault_mysql_root_password }}"
      - "SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql"
      - "SYMFONY__ENV__DATABASE_HOST=wallabag_db"
      - "SYMFONY__ENV__DATABASE_PORT=3306"
      - "SYMFONY__ENV__DATABASE_NAME=wallabag"
      - "SYMFONY__ENV__DATABASE_USER=wallabag"
      - "SYMFONY__ENV__DATABASE_PASSWORD={{ vault_wallabag_password }}"
      - "PUID=1000"
      - "PGID=1000"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ subdomain }}.rule=Host(`{{ subdomain }}.affordablepotatoes.com`)"
      - "traefik.http.routers.{{ subdomain }}.tls=true"
      - "traefik.http.routers.{{ subdomain }}.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.{{ subdomain }}-header.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.{{ subdomain }}.middlewares={{ subdomain }}-header"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/images:/var/www/wallabag/web/assets/images"
      - "{{ container_config_dir }}/{{ container_name }}/data:/var/www/wallabag/data"
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - wallabag_db
      - wallabag_redis

  wallabag_db:
    image: mariadb
    container_name: wallabag_db
    environment:
      - "MYSQL_ROOT_PASSWORD={{ vault_mysql_root_password }}"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/database:/var/lib/mysql"
    expose:
      - "3306"
  wallabag_redis:
    image: redis:alpine
    container_name: wallabag_redis
    expose:
      - "6379"