# code: language=ansible
name: "{{ composition_name }}"
services:
  vikunja:
    container_name: vikunja
    image: vikunja/vikunja:latest
    restart: unless-stopped
    env_file: .environment_vars
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - "{{ composition_config }}/files:/app/vikunja/files"
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.{{ domainname_infra }}`)"
      - "traefik.http.routers.vikunja.tls=true"
      - "traefik.http.routers.vikunja.tls.certresolver=letsencrypt"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3456/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  db:
    container_name: vikunja_db
    image: postgres:18
    restart: unless-stopped
    env_file: .environment_vars
    volumes:
      - "{{ composition_config }}/postgres:/var/lib/postgresql/data"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U vikunja"]
      interval: 2s
      timeout: 5s
      retries: 15
      start_period: 30s

networks:
  "{{ default_docker_network }}":
    external: true
