TZ="Europe/Berlin"

# Postgres
POSTGRES_USER=vikunja
POSTGRES_PASSWORD={{ vikunja_db_password }}

# Vikunja
VIKUNJA_SERVICE_PUBLICURL=https://vikunja.{{ domainname_infra }}
VIKUNJA_SERVICE_SECRET={{ vikunja_secret_key }}
VIKUNJA_DATABASE_HOST=db
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_DATABASE_PASSWORD={{ vikunja_db_password }}
