services:
  homeassistant:
    container_name: "{{ container_name }}"
    privileged: true
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "UMASK=007"
      - "PACKAGES=iputils"
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "{{ container_config_dir }}/media:/media"
      - "/etc/localtime:/etc/localtime:ro"
    labels:
      - "diun.enable=true"
      - "homepage.group=Home Automation"
      - "homepage.name=Home Assistant"
      - "homepage.href=https://homeassistant.affordablepotatoes.com"
      - "homepage.description=Home automation server"
    healthcheck:
      # test: ["CMD", "curl", "-f", "http://172.19.0.1:8123"]
      test: ["CMD", "curl", "-f", "http://homeassistant.affordablepotatoes.com:8123"]
      interval: 30s
      timeout: 10s
      retries: 6
