services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    network_mode: "service:gluetun" 
    environment:
      - "TZ=Europe/Berlin"      
      - PUID=1000
      - PGID=1000
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - /etc/localtime:/etc/localtime:ro
