#!/bin/bash

# Subscribe to an MQTT topic using mosquitto_sub.

while true  # Keep an infinite loop to reconnect when connection lost/broker unavailable
do
    mosquitto_sub -h "{{ mqtt2cmd_broker }}" -t "{{ mqtt2cmd_basetopic }}/{{ ansible_hostname }}" | while read -r payload
    do
        echo "Rx MQTT: ${payload}"
        # if payload = shutdown
        if [ "$payload" == "shutdown" ]; then
            shutdown now
        fi
        # if payload = sleep
        if [ "$payload" == "sleep" ]; then
            systemctl suspend
        fi
        # if payload = reboot
        if [ "$payload" == "reboot" ]; then
            reboot
        fi
        # if payload = ansiblepull
        if [ "$payload" == "ansiblepull" ]; then
            runuser -l "{{ ansible_user }}" -c "/opt/ansible/ansible-pull-pull.sh"
        fi
    done
    sleep 10 
done