TZ="Europe/Berlin"
KS_GITHUB_TOKEN="{{ github2karakeep_gh_token }}"
KS_KARAKEEP_AUTH="{{ github2karakeep_kk_token }}"
KS_KARAKEEP_URL="{{ github2karakeep_kk_url }}"
KS_GITHUB_SCHEDULE="{{ github2karakeep_schedule }}"
