global:
  sendAnonymousUsage: true
log:
  level: INFO
api:
  dashboard: true
acme:
  acmeLogging: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
    # forwardedHeaders:
    #   trustedIPs:
    #     - "127.0.0.1/32"
    #     - "172.18.0.0/24"
  websecure:
    address: ":443"
    # forwardedHeaders:
    #   trustedIPs:
    #     - "127.0.0.1/32"
    #     - "172.18.0.0/24"
providers:
  docker:
    exposedbydefault: false
    endpoint: "unix:///var/run/docker.sock"
  file:
    directory: /etc/traefik/providers
    watch: true

{% if reverseproxy_use_letsencrypt %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: "certs@{{ vault_personal_domain }}"
      storage: /letsencrypt/acme.json
      # caserver: https://acme-staging-v02.api.letsencrypt.org/directory"
      dnschallenge:
        provider: hetzner
        resolvers:
          - hydrogen.ns.hetzner.com
          - helium.ns.hetzner.de
          - oxygen.ns.hetzner.com
        {# delaybeforecheck: 0 #}
        {# DisablePropagationCheck: true #}
{% endif %}
