# -------------------------------------------------------------------
# ANSIBLE
# -------------------------------------------------------------------
ansible_host: 192.168.1.116 # How to access the host
ansible_user: "{{ vault_server_username }}" # User to connect as
ansible_become_password: "{{ vault_password }}"

# -------------------------------------------------------------------
# INFRA
# -------------------------------------------------------------------
host_type: baremetal
host_name: storage
host_city: ber
host_location: xberg
host_ipv4: 192.168.1.116
# host_ipv4: 172.16.0.4
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# -------------------------------------------------------------------
# NETWORK
# -------------------------------------------------------------------
host_primary_interface: "enp3s0"
host_ipv4_subnet: 24
wakeonlan_mac_address: "34:60:f9:bb:3d:16"
wakeonlan_interface: enp3s0
configure_dns_linkdevice_physical: enp3s0

# -------------------------------------------------------------------
# UBUNTU
# -------------------------------------------------------------------

ubuntupro_attach: true

# -------------------------------------------------------------------
# ZFS
# -------------------------------------------------------------------

zfs:
  fastpool:
    pool_properties: {}
    vdevs:
      - type: mirror
        disks:
          - /dev/disk/by-id/scsi-SATA_CT1000BX500SSD1_2216E629AC18
          - /dev/disk/by-id/scsi-SATA_SanDisk_SDSSDH3_22087N455301
    datasets:
      compositions:
        policy: critical
        snapshots_discover_children: true
  slowpool:
    # vdevs:
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_ST16000NT001-3LV_ZR61CRHS
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX12DA08KR45
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX12DA0R1V78
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX82DA1RHH08
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_ST4000VN008-2DR1_ZDHB6E35
    #       - /dev/disk/by-id/scsi-SATA_ST4000VN008-2DR1_ZDHB880S
    #   - type: mirror
    #     disks:
    #       - "/dev/disk/by-id/{{ vault_ironwolfpro_16tb_alpha }}"
    #       - "/dev/disk/by-id/{{ vault_ironwolfpro_16tb_beta }}"
    datasets:
      shared:
        datasets:
          syncthing:
          metrics:
            datasets:
              zfs:
                policy: high
          media:
            datasets:
              shows:
                policy: low
              movies:
                policy: low
              music:
                policy: critical
              books:
                policy: critical
              audiobooks:
                policy: critical
              downloads:
                datasets:
                  torrents:
              podcasts:
                policy: critical
              youtube:
      charlie:
        # policy: critical
        datasets:
          syncthing:
            policy: critical
          photos:
            policy: critical

# -------------------------------------------------------------------
# MISC
# -------------------------------------------------------------------

# Media storage
shared_media_path: /slowpool/shared/media

# syncthing_paths:
#   data_default: "/slowpool/shared/syncthing"

# -------------------------------------------------------------------
# NFS
# -------------------------------------------------------------------
# nfs_exports:
  # - "/fastpool *(rw,all_squash,anonuid=1000,anongid=1000)"
  # - "{{ shared_media_path }} *(rw,all_squash,anonuid=1000,anongid=1000)"

zfs_nfs_exports:
  - dataset: slowpool/shared/media
    options: "rw=100.64.0.0/10,anonuid=1000,anongid=1000,no_root_squash,all_squash"

# -------------------------------------------------------------------
# APPS
# -------------------------------------------------------------------


# -------------------------------------------------------------------
# COMPOSITIONS
# Containers to run on this machine.
# -------------------------------------------------------------------

# compositions list moved to playbook (see playbooks/baremetal/host-storage/core.yaml)
  # - musicassistant


# traefik_providers:
#   - musicassistant


# -------------------------------------------------------------------
# CNAMES
# These cnames will be aliased to this machine's FQDN.
# -------------------------------------------------------------------

cnames:
  - jellyfin.{{ domain_name }}
  - lidarr.{{ domain_name }}
  - karakeep.{{ domain_name }}
  - prowlarr.{{ domain_name }}
  - sonarr.{{ domain_name }}
  - radarr.{{ domain_name }}
  - immich.{{ domain_name }}
  - gitea.{{ domain_name }}
  - musicassistant.{{ domain_name }}
  - traefik.{{ host_fqdn }}
  - syncthing.{{ domain_name }}
  - freshrss.{{ domain_name }}
  - tubesync.{{ domain_name }}
  - audiobookshelf.{{ domain_name }}
  - libation.{{ domain_name }}
  - librofm.{{ domain_name }}
  - home.{{ domain_name }}
  - wallabag.{{ domain_name }}
  - jellyseerr.{{ domain_name }}
  - translate.{{ domain_name }}
