# -------------------------------------------------------------------
# ANSIBLE
# -------------------------------------------------------------------
ansible_host: 192.168.1.116 # How to access the host
ansible_user: "{{ vault_server_username }}" # User to connect as
ansible_become_password: "{{ vault_password }}"

# -------------------------------------------------------------------
# INFRA
# -------------------------------------------------------------------
host_type: baremetal
host_name: storage
host_city: ber
host_location: xberg
host_ipv4: 192.168.1.116
# host_ipv4: 172.16.0.4
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# -------------------------------------------------------------------
# NETWORK
# -------------------------------------------------------------------
wakeonlan_mac_address: "34:60:f9:bb:3d:16"
wakeonlan_interface: enp3s0
configure_dns_linkdevice_physical: enp3s0

# -------------------------------------------------------------------
# UBUNTU
# -------------------------------------------------------------------

ubuntupro_attach: true

# -------------------------------------------------------------------
# ZFS
# -------------------------------------------------------------------

zfs:
  fastpool:
    # pool_properties: {}
    # vdevs:
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_CT1000BX500SSD1_2216E629AC18
    #       - /dev/disk/by-id/scsi-SATA_SanDisk_SDSSDH3_22087N455301
    datasets:
      compositions:
        importance: critical
        discover_children: true
  slowpool:
    # vdevs:
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_ST16000NT001-3LV_ZR61CRHS
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX12DA08KR45
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX12DA0R1V78
    #       - /dev/disk/by-id/scsi-SATA_WDC_WD40EFZX-68A_WD-WX82DA1RHH08
    #   - type: mirror
    #     disks:
    #       - /dev/disk/by-id/scsi-SATA_ST4000VN008-2DR1_ZDHB6E35
    #       - /dev/disk/by-id/scsi-SATA_ST4000VN008-2DR1_ZDHB880S
    #   - type: mirror
    #     disks:
    #       - "/dev/disk/by-id/{{ vault_ironwolfpro_16tb_alpha }}"
    #       - "/dev/disk/by-id/{{ vault_ironwolfpro_16tb_beta }}"
    datasets:
      shared:
        datasets:
          syncthing:
          media:
            datasets:
              shows:
                importance: low
              movies:
                importance: low
              music:
                importance: critical
              books:
                importance: critical
              audiobooks:
                importance: critical
              downloads:
                datasets:
                  torrents:
              podcasts:
                importance: critical
              youtube:
      charlie:
        importance: critical
        datasets:
          syncthing:
            importance: critical
          photos:
            importance: critical

# -------------------------------------------------------------------
# MISC
# -------------------------------------------------------------------

# Media storage
shared_media_path: /slowpool/shared/media

# syncthing_paths:
#   data_default: "/slowpool/shared/syncthing"

# -------------------------------------------------------------------
# NFS
# -------------------------------------------------------------------
# nfs_exports:
  # - "/fastpool *(rw,all_squash,anonuid=1000,anongid=1000)"
  # - "{{ shared_media_path }} *(rw,all_squash,anonuid=1000,anongid=1000)"

zfs_nfs_exports:
  - dataset: slowpool/shared/media
    options: "rw=100.64.0.0/10,anonuid=1000,anongid=1000,no_root_squash,all_squash"

# -------------------------------------------------------------------
# APPS
# -------------------------------------------------------------------


# -------------------------------------------------------------------
# DRIVES
# -------------------------------------------------------------------

vault_ironwolfpro_16tb_alpha: !vault |
          $ANSIBLE_VAULT;1.2;AES256;beanpod
          39666163306632343333356264306239346631613136666534623066656238626436313931353732
          6535393532373433336337646336623633373162643631330a653932363038623730643164656665
          61616262613738373861356562376137393838373766316638393531353935663231333866393432
          3864613164396130620a363239393930373366333239313864346331626364643233343164303861
          32656538633335626234363062376430613162616138303538666566303937613065323462666630
          3863333539636561343138313837393162333532326665373038

vault_ironwolfpro_16tb_beta: !vault |
          $ANSIBLE_VAULT;1.2;AES256;beanpod
          64643734376430393039343031353961623763363262613063393037613033653264646261663734
          6437623665393033336139646333343436376166336666660a656665316531353235356130323435
          66623435303736343931646462343731313761386138653035353435666339363934643636643361
          6564366662636666620a303864346333343134636361343339326333336236353733383538323435
          63626561316564616235353266663536643634313664396564313564326137333237613461363365
          6433666534386334643163656536313830316266616363373430

# -------------------------------------------------------------------
# COMPOSITIONS
# Containers to run on this machine.
# -------------------------------------------------------------------

compositions:
  - reverseproxy
  - container-management
  - audio
  - jellyfin
  - immich
  - downloads
  - finances
  - gitea
  - gitea-runners
  - syncthing
  # - musicassistant
  - karakeep
  - freshrss
  - tubesync
  - homepage
  - bookmarks
  - piper
  - gotosocial
  - libretranslate


# traefik_providers:
#   - musicassistant


# -------------------------------------------------------------------
# CNAMES
# These cnames will be aliased to this machine's FQDN.
# -------------------------------------------------------------------

cnames:
  - jellyfin.{{ domain_name }}
  - lidarr.{{ domain_name }}
  - karakeep.{{ domain_name }}
  - prowlarr.{{ domain_name }}
  - sonarr.{{ domain_name }}
  - radarr.{{ domain_name }}
  - immich.{{ domain_name }}
  - gitea.{{ domain_name }}
  - musicassistant.{{ domain_name }}
  - traefik.{{ host_fqdn }}
  - syncthing.{{ domain_name }}
  - freshrss.{{ domain_name }}
  - tubesync.{{ domain_name }}
  - audiobookshelf.{{ domain_name }}
  - libation.{{ domain_name }}
  - librofm.{{ domain_name }}
  - home.{{ domain_name }}
  - wallabag.{{ domain_name }}
  - jellyseerr.{{ domain_name }}
  - translate.{{ domain_name }}
