# These drive serials are encrypted as they are still in warranty.

vault_ironwolfpro_16tb_alpha: !vault |
          $ANSIBLE_VAULT;1.2;AES256;beanpod
          39666163306632343333356264306239346631613136666534623066656238626436313931353732
          6535393532373433336337646336623633373162643631330a653932363038623730643164656665
          61616262613738373861356562376137393838373766316638393531353935663231333866393432
          3864613164396130620a363239393930373366333239313864346331626364643233343164303861
          32656538633335626234363062376430613162616138303538666566303937613065323462666630
          3863333539636561343138313837393162333532326665373038

vault_ironwolfpro_16tb_beta: !vault |
          $ANSIBLE_VAULT;1.2;AES256;beanpod
          64643734376430393039343031353961623763363262613063393037613033653264646261663734
          6437623665393033336139646333343436376166336666660a656665316531353235356130323435
          66623435303736343931646462343731313761386138653035353435666339363934643636643361
          6564366662636666620a303864346333343134636361343339326333336236353733383538323435
          63626561316564616235353266663536643634313664396564313564326137333237613461363365
          6433666534386334643163656536313830316266616363373430
