name: "{{ composition_name }}"
services:
  loki:
    image: {{ composition_loki_image }}
    container_name: {{ composition_loki_container_name }}
    restart: unless-stopped
    ports:
      - "{{ composition_loki_port }}:3100"
    volumes:
      - "{{ composition_config }}/config/loki-config.yaml:/etc/loki/local-config.yaml"
      - "{{ composition_loki_storage_path }}:/loki"
    command:
      - "-config.file=/etc/loki/local-config.yaml"
    env_file: .environment_vars
{% if composition_loki_traefik_enabled %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ composition_loki_container_name }}.rule=Host(`{{ composition_loki_subdomain }}.{{ domain_name }}`)"
      - "traefik.http.routers.{{ composition_loki_container_name }}.tls=true"
      - "traefik.http.routers.{{ composition_loki_container_name }}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{ composition_loki_container_name }}.loadbalancer.server.port={{ composition_loki_port }}"
{% endif %}
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
