services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "6666":6600"
    cap_add:
      - "SYS_NICE"
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.affordablepotatoes.com`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "{{ music_path }}:/var/lib/mpd/music"
      - "{{ playlist_path }}:/var/lib/mpd/playlists"
      - "{{ container_config_dir }}/{{ container_name }}/data:/var/lib/mpd/data"
      - "{{ container_config_dir }}/{{ container_name }}/mpd.conf:/etc/mpd.conf"
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/snd
