{{ {
  'mode': 'local',
  'project': composition_hermes_jarvis_basic_memory_project,
  'project_path': '/opt/memory',
  'capture_per_turn': composition_hermes_jarvis_basic_memory_capture_per_turn,
  'capture_session_end': composition_hermes_jarvis_basic_memory_capture_session_end,
  'capture_folder': composition_hermes_jarvis_basic_memory_capture_folder,
  'remember_folder': composition_hermes_jarvis_basic_memory_remember_folder,
} | to_nice_json }}
