# code: language=ansible
name: "{{ composition_name }}"
services:
  audiobookshelf:
    container_name: audiobookshelf
    ports:
      - "13378:80"
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.audiobookshelf.rule=Host(`audiobookshelf.{{ domain_name }}`)"
      - "traefik.http.routers.audiobookshelf.tls=true"
      - "traefik.http.routers.audiobookshelf.tls.certresolver=letsencrypt"
    volumes:
      - "{{ shared_media_path }}/audiobooks:/audiobooks"
      - "{{ composition_config }}/config:/config"
      - "{{ composition_config }}/metadata:/metadata"
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  "{{ default_docker_network }}":
    external: true
