services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    network_mode: "service:gluetun" 
    depends_on:
      - gluetun
    environment:
      - "TZ=Europe/Berlin"
      - "PUID={{ container_user_id }}"
      - "PGID={{ container_user_id }}"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "/slowpool/media/movies:/movies"
      - "/slowpool/media/shows:/tv"
      - /etc/localtime:/etc/localtime:ro
