services:
  gluetun:
    container_name: "{{ container_name }}"
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY="{{ vault_mullvad_key }}"
      - WIREGUARD_ADDRESSES="{{ vault_mullvad_address }}"
      - SERVER_CITIES=zurich
      - SERVER_COUNTRIES=switzerland
    image: "{{ container_image }}"
    ports:
      - 8000:8000/tcp
      - "0.0.0.0:9091:9091/tcp"
      - 51413:51413/tcp
      - 51413:51413/udp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # Gluetun Built-in HTTP control server
      - "traefik.http.routers.gluetun.rule=Host(`gluetun.affordablepotatoes.com`)"
      - "traefik.http.routers.gluetun.service=gluetun"
      - "traefik.http.services.gluetun.loadbalancer.server.port=8000"
      - "traefik.http.routers.gluetun.tls=true"
      - "traefik.http.routers.gluetun.tls.certresolver=letsencrypt"
      # Transmission
      - "traefik.http.routers.transmission.rule=Host(`transmission.affordablepotatoes.com`)"
      - "traefik.http.routers.transmission.service=transmission"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
      - "traefik.http.routers.transmission.tls=true"
      - "traefik.http.routers.transmission.tls.certresolver=letsencrypt"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/gluetun"
      - "/etc/localtime:/etc/localtime:ro"
