---
- name: Install ZFS backup tooling
  become: true
  ansible.builtin.apt:
    name:
      - acl
      - moreutils # for ts (timestamp) util
      - lzop
      - mbuffer
    state: present

- name: Add the user "{{ vault_zfsbackups_user }}"
  become: true
  ansible.builtin.user:
    name: "{{ vault_zfsbackups_user }}"
    comment: ZFS Backup User
    system: true
    create_home: true
    uid: 1099 # just forcing a higher ID in case we need it later
    state: present
  register: created_user

- name: Stat .ssh
  become: true
  ansible.builtin.stat:
    path: "{{ created_user.home }}/.ssh"
  register: ssh_path

- name: Create .ssh dir
  become: true
  ansible.builtin.file:
    path: "{{ created_user.home }}/.ssh"
    state: directory
    owner: "{{ vault_zfsbackups_user }}"
    group: "{{ vault_zfsbackups_user }}"
    mode: "0664"
  when: not ssh_path.stat.exists

- name: Ensure restrict_commands.sh exists
  become: true
  ansible.builtin.copy:
    src: restrict_commands.sh
    dest: /usr/local/bin/restrict_commands.sh
    owner: root
    group: root
    mode: "0777"

- name: List datasets to be given permissions on
  become: true
  vars:
    _datasets: "{{ zfs | default({}) | zfs_backup_datasets }}"
  ansible.builtin.debug:
    msg: "{{ item.dataset }}"
  loop: "{{ _datasets }}"
  when: _datasets | length > 0

- name: "Ensure backups of listed datasets can be sent via {{ vault_zfsbackups_user }}"
  become: true
  vars:
    _datasets: "{{ zfs | default({}) | zfs_backup_datasets }}"
  community.general.zfs_delegate_admin:
    name: "{{ item.dataset }}"
    users: "{{ vault_zfsbackups_user }}"
    permissions: mount,send,hold,snapshot,destroy,release
    local: true
    descendents: true
  loop: "{{ _datasets }}"
  when: _datasets | length > 0

- name: Set authorized key and options
  become: true
  ansible.posix.authorized_key:
    user: "{{ vault_zfsbackups_user }}"
    state: present
    key: "{{ vault_zfsbackups_public_key }}"
    # key_options: 'restrict,command="restrict_commands.sh"'
  when: vault_zfsbackups_public_key is defined
