services:
  esphome:
    container_name: esphome
    ports:
      - "6052:6052"
      - "6123:6123"
    privileged: true
    environment:
      - "TZ=Berlin/Europe"
      - "ESPHOME_DASHBOARD_USE_PING=true"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.esphome.rule=Host(`esphome.affordablepotatoes.com`)"
      - "traefik.http.routers.esphome.tls=true"
      - "traefik.http.routers.esphome.tls.certresolver=myresolver"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
