services:
  esphome:
    container_name: "{{ container_name }}"
    ports:
      - "6052:6052"
      # - "6123:6123"
    privileged: true
    environment:
      - "TZ=Europe/Berlin"
      - "ESPHOME_DASHBOARD_USE_PING=true"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.esphome.rule=Host(`esphome.affordablepotatoes.com`)"
      - "traefik.http.routers.esphome.tls=true"
      - "traefik.http.routers.esphome.tls.certresolver=letsencrypt"
      - "homepage.group=Home Automation"
      - "homepage.name=ESPhome"
      - "homepage.href=https://esphome.affordablepotatoes.com"
      - "homepage.description=Controller for ESP32 devices"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
