services:
  esphome:
    container_name: "{{ container_name }}"
    ports:
      - "6052:6052"
      # - "6123:6123"
    privileged: true
    environment:
      - "TZ=Europe/Berlin"
      - "ESPHOME_DASHBOARD_USE_PING=true"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.esphome.rule=Host(`esphome.{{ domain_name }}`)"
      - "traefik.http.routers.esphome.tls=true"
      - "traefik.http.routers.esphome.tls.certresolver=letsencrypt"
      - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - "{{ docker_default_network }}"