# code: language=ansible
name: "{{ project_name }}"
services:
  whoami:
    container_name: whoami
    ports:
      - "8888:80"
    environment:
      - "TZ=${TZ}"
    image: traefik/whoami
    restart: unless-stopped
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.whoami.rule=Host(`whoami.{{ domain_name }}`)"
    #   - "traefik.http.routers.whoami.tls=true"
    #   - "traefik.http.routers.whoami.tls.certresolver=letsencrypt"
      # - "homepage.group=GROUP"
      # - "homepage.name=SUBDOMAIN"
      # - "homepage.href=https://SUBDOMAIN.{{ domain_name }}"
      # - "homepage.description=whatever"
    volumes:
      - /etc/localtime:/etc/localtime:ro
