backends:
  hdd:
    type: local
    path: {{ restic_client_path}} # a mounted NFS share
    key: "{{vault_backup_key}}"
locations:
{% for item in backup_containers_via_autorestic %}
  {{item}}:
      from:
        - ~/{{item}}
      to:
        - hdd
{% endfor %}
version: 2
