#!/usr/bin/env bash

/usr/local/bin/autorestic backup -a

if [ $? -eq 0 ]
then
	echo "Autorestic success"
    curl -fsSL https://hc-ping.com/{{ vault_autorestic_ping_key }}/host-homeautomation-daily-autorestic-backup
else
    echo "Autorestic failure"
fi
