TZ="Europe/Berlin"
NEXTAUTH_SECRET="{{ vault_hoarder_nextauth}}"
MEILI_MASTER_KEY="{{ vault_hoarder_meili }}
NEXTAUTH_URL="https://hoarder.{{ domain_name }}"
OPENAI_API_KEY="{{ vault_hoarder_openai }}"
