# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: "Create .env file"
  ansible.builtin.template:
    src: environment_vars
    dest: "{{ composition_root }}/.environment_vars"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

# - name: Ensure watchtower config.json is absent
#   become: true
#   ansible.builtin.file:
#     path: "{{ composition_config }}/config.json"
#     state: absent

- name: Copy watchtower config.json script
  become: true
  ansible.builtin.template:
    src: templates/watchtower-config.json
    dest: "{{ composition_config }}/config.json"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

# - name: Run Configure DNS role
#   ansible.builtin.include_role:
#     name: "network-register-subdomain"
#   vars:
#     configure_dns_subdomains:
#       - "dockage.{{ ansible_facts['hostname'] }}"

# ----------------------------
# Specific tasks
# ----------------------------

# - name: Create directories
#   file:
#     path: "{{ composition_config }}/{{ dir_item }}"
#     state: directory
#   loop_control:
#     loop_var: dir_item
#   loop:
#     - whatever1
#     - whatever2
#     - whatever3

# - name: Copy over files
#   become: true
#   ansible.builtin.copy:
#     src: filename.txt
#     dest: "{{ composition_config }}/filename.txt
