# code: language=ansible-jinja
name: "{{ composition_name }}"
services:
  guineacam01:
    ports:
      - 18001:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/media0:/dev/video0

  guineacam02:
    ports:
      - 18002:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/media1:/dev/video0

  guineacam03:
    ports:
      - 18003:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/media2:/dev/video0

  guineacam04:
    ports:
      - 18004:8080
    image: mkuf/ustreamer:latest
    restart: unless-stopped
    networks:
      - "{{ default_docker_network }}"
    devices:
      - /dev/media3:/dev/video0

networks:
  "{{ default_docker_network }}":
    external: true
