# code: language=ansible
name: "{{ composition_name }}"
services:
  libation:
    container_name: libation
    image: rmcrackan/libation:latest
    restart: unless-stopped
    env_file: .environment_vars
    user: 1000:1000
    volumes:
      - "{{ composition_config }}:/config"
      - "/fastpool/charlie/libation:/data"
      - /etc/localtime:/etc/localtime:ro
