#!/usr/bin/env bash
set -euo pipefail

cd {{ ansible_infra_dir }}

{% for playbook in automation_infra_playbooks %}
sudo -u {{ ansible_user }} bash -c "
  source {{ ansible_infra_dir }}/.venv/bin/activate && \
  ansible-playbook \
    {{ automation_infra_playbooks_base_path }}/{{ playbook }} \
    --inventory {{ automation_infra_inventory }} \
    --vault-password-file {{ automation_infra_vault_password_file }}"

{% endfor %}
