# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create firefly core .env file"
  ansible.builtin.template:
    src: environment_vars_core.j2
    dest: "{{ composition_root }}/.environment_vars_core"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create firefly db .env file"
  ansible.builtin.template:
    src: environment_vars_db.j2
    dest: "{{ composition_root }}/.environment_vars_db"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create firefly importer .env file"
  ansible.builtin.template:
    src: environment_vars_importer.j2
    dest: "{{ composition_root }}/.environment_vars_importer"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

# ----------------------------
# Specific tasks
# ----------------------------

- name: Create directories
  ansible.builtin.file:
    path: "{{ composition_config }}/{{ dir_item }}"
    state: directory
  loop_control:
    loop_var: dir_item
  loop:
    - firefly-db
    - firefly-upload
    - firefly-importer

# - name: Copy over files
#   become: true
#   ansible.builtin.copy:
#     src: filename.txt
#     dest: "{{ composition_config }}/filename.txt

- name: Run Configure DNS role
  ansible.builtin.include_role:
    name: "network-register-subdomain"
  vars:
    configure_dns_subdomains:
      - firefly
      - firefly-importer

# ----------------------------
# Start composition
# ----------------------------

- name: Start Docker Compose project
  community.docker.docker_compose_v2:
    project_src: "{{ composition_root }}"
    state: present
    build: always
    remove_orphans: true
