[Unit]
Description="Run ansible-pull after wake from suspend or hibernate"
After=basic.target network-online.target sleep.target hibernate.target suspend-then-hibernate.target hybrid-sleep.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
{% for env_item in environment_config|dict2items %}
Environment="{{ env_item.key }}={{ env_item.value }}"
{% endfor %}
Type=oneshot
ExecStart={{ ansiblepull_workdir }}/{{ ansiblepull_script_name }}
TimeoutSec=0

[Install]
WantedBy=sleep.target hibernate.target suspend-then-hibernate.target hybrid-sleep.target
