[Unit]
Description="Run ansible-pull after wake from suspend or hibernate"
After=sleep.target hybrid-sleep.target 

[Service]
User=root
Type=oneshot
ExecStart=su -s /bin/bash -c "{{ ansiblepull_workdir }}/{{ ansiblepull_script_name }}" -g {{ ansible_user }} {{ ansible_user }} 
TimeoutSec=0

[Install]
WantedBy=sleep.target hybrid-sleep.target 

