#!/bin/bash

# Check is Lock File exists, if not create it and set trap on exit
 if { set -C; 2>/dev/null >{{ ansiblepull_workdir }}/{{ansiblepull_lockfile_name}}; }; then
   trap "rm -f {{ ansiblepull_workdir }}/{{ansiblepull_lockfile_name}}" EXIT
 else
   echo "Cannot get lock as {{ ansiblepull_workdir }}/{{ansiblepull_lockfile_name}} exists."
   exit
 fi

TZ=UTC ansible-pull -U https://github.com/whalecoiner/home ansible/playbooks/{{ inventory_hostname }}.yaml

if [ $? -eq 0 ]
then
  echo "ansible-pull success"
  # Ensure that galaxy has been marked as installed at least once
  touch {{ansiblepull_workdir}}/{{ansiblepull_initial_installer_lockfile_name}}
  /usr/bin/curl -fsSL https://hc-ping.com/{{ vault_autorestic_ping_key }}/{{ inventory_hostname }}-ansible-pull
else
  echo "ansible-pull failure"
fi
