#!/bin/sh

PATH=/sbin:/usr/sbin:/bin:/usr/bin

case "$1" in
    pre)
            #code execution BEFORE sleeping/hibernating/suspending
            wall "Going to sleep..."

    ;;
    post)
            #code execution AFTER resuming
            wall "waking up!"
            su -s /bin/bash -c "{{ ansiblepull_workdir }}/{{ ansiblepull_script_name }}" -g {{ ansible_user }} {{ ansible_user }}
    ;;
esac

exit 0