#!/bin/sh

PATH=/sbin:/usr/sbin:/bin:/usr/bin

case "$1" in
    pre)
            #code execution BEFORE sleeping/hibernating/suspending
    ;;
    post)
            #code execution AFTER resuming
            su -s /bin/bash -c "{{ ansiblepull_workdir }}/{{ ansiblepull_script_name }}" -g {{ ansible_user }} {{ ansible_user }}
    ;;
esac

exit 0