# code: language=ansible
name: "{{ composition_name }}"
services:
  web:
    image: nginx
    container_name: awfulwoman
    restart: unless-stopped
    env_file: .environment_vars
    environment:
      - NGINX_HOST="{{ vault_personal_domain }}"
      - NGINX_PORT=80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beta.rule=Host(`{{ vault_personal_domain }}`) || Host(`{{ vault_olddomain_wc }}`) || Host(`{{ vault_olddomain_se }}`)"
      - "traefik.http.routers.beta.tls=true"
      - "traefik.http.routers.beta.tls.certresolver=letsencrypt"
      - "traefik.http.services.beta.loadbalancer.server.port=80"
    volumes:
      - "{{ site_path_awfulwoman }}:/usr/share/nginx/html"
      - "{{ site_path_shared }}:/usr/share/nginx/html/shared"
      - "{{ composition_config }}/nginx.conf:/etc/nginx/nginx.conf"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
