# code: language=ansible
name: "{{ composition_name }}"
services:
  web:
    image: nginx
    container_name: awfulwoman
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:80"
    env_file: .environment_vars
    environment:
      - NGINX_HOST="awfulwoman.com"
      - NGINX_PORT=80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beta.rule=Host(`awfulwoman.com`) || Host(`{{ vault_olddomain_wc }}) || Host(`{{ vault_olddomain_se }}`)"
      - "traefik.http.routers.beta.tls=true"
      - "traefik.http.routers.beta.tls.certresolver=letsencrypt"
    volumes:
      - "{{ awfulwoman_sites_zfs_path }}:/usr/share/nginx/html"
      - "{{ composition_config }}/nginx.conf:/etc/nginx/nginx.conf"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
