- name: Update and upgrade apt packages
  hosts: infra
  tasks:
    - name: Update apt cache and upgrade packages
      become: true
      ansible.builtin.apt:
        update_cache: true
        upgrade: safe
