services:
  whoami:
    container_name: "{{ container_name }}"
    ports:
      - "8888:80"
    environment:
      - "TZ=Berlin/Europe"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.affordablepotatoes.com`)"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=letsencrypt"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
