services:
  whoami:
    container_name: "{{ container_name }}"
    ports:
      - "8888:80"
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.{{ domain_name }}`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - "{{ docker_default_network }}"