services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "8084:8080"
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.affordablepotatoes.com`)"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/shiori"
      - /etc/localtime:/etc/localtime:ro
