---
- name: Home Automation Demo
  hosts: host-ha-demo
  roles:
    - role: bootstrap-ubuntu
    - role: hardware-raspberry-pi
      raspberry_pi_boot_config_location: /boot/firmware/config.txt
      raspberry_pi_bluetooth: true
      raspberry_pi_i2c: true
      raspberry_pi_oled: true
    - role: install-docker
    - role: install-ansible
    - role: compositions

  handlers:
    - name: Reboot host
      become: true
      ansible.builtin.reboot:
