- name: Create a docker bridge network
  community.docker.docker_network:
    name: "{{ default_docker_network }}"
  when: compositions is defined

- name: Ensure composition dataset is present
  become: true
  community.general.zfs:
    name: "{{ compositions_dataset }}"
    state: present
    extra_zfs_properties:
      acltype: posix
      xattr: sa
  # when: compositions is defined is defined and zfs_pools is defined and zfs_pools is true
  when: compositions is defined

- name: Ensure composition dataset mount is owned by user
  become: true
  ansible.builtin.file:
    path: "/{{ compositions_dataset }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0774"
  # when: compositions is defined is defined and zfs_pools is defined and zfs_pools is true
  when: compositions is defined

- name: Ensure a ZFS dataset for each composition role is present
  become: true
  community.general.zfs:
    name: "{{ compositions_dataset }}/{{ item }}"
    state: present
    extra_zfs_properties:
      acltype: posix
      xattr: sa
  loop: "{{ compositions }}"
  # when: compositions is defined is defined and zfs_pools is defined and zfs_pools is true
  when: compositions is defined

- name: Ensure composition dataset mounts are owned by user
  become: true
  ansible.builtin.file:
    path: "/{{ compositions_dataset }}/{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0774"
  loop: "{{ compositions }}"
  # when: compositions is defined is defined and zfs_pools is defined and zfs_pools is true
  when: compositions is defined

- name: Ensure composition config dirs exist
  ansible.builtin.file:
    path: "/{{ compositions_dataset }}/{{ item }}/config"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0774"
  loop: "{{ compositions }}"
  when: compositions is defined

- name: Ensure defined composition roles are included
  ansible.builtin.include_role:
    name: "composition-{{ item }}"
  vars:
    composition_name: "{{ item }}"
    composition_root: "/{{ compositions_dataset }}/{{ item }}"
    composition_config: "/{{ compositions_dataset }}/{{ item }}/config"
  loop: "{{ compositions }}"
  when: compositions is defined

- name: Ensure all composition containers are started
  community.docker.docker_compose_v2:
    project_src: "/{{ compositions_dataset }}/{{ item }}"
    state: present
    build: always
    remove_orphans: true
  loop: "{{ compositions }}"
  when: compositions is defined

- name: Prune unused images
  community.docker.docker_prune:
    images: true
