<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ system_obsidian_desktop_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ system_obsidian_desktop_bin }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_facts.user_dir }}/Library/Logs/obsidian-desktop.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_facts.user_dir }}/Library/Logs/obsidian-desktop.log</string>
</dict>
</plist>
