substitutions:
  name: "project-mcproject"
  friendly_name: "A PROJECT"
  comment: "A COMMENT"
  area: "Living Room"
  platform: esp32
  board: esp32dev
  owner: awfulwowman
  version: "1.0.0"

esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"
  comment: "${comment}"
  area: "${area}"
  project:
    name: ${owner}.${name}
    version: ${version}

${platform}:
  board: "${board}"

text_sensor:
  - platform: version
    name: ESPHome Version
    hide_timestamp: true
