wifi:
  ssid: "${secret_wifi_ssid}"
  password: "${secret_wifi_password}"
  domain: "${secret_wifi_domain}"

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${name}"
    password: "${secret_ap_password}"

improv_serial:
captive_portal:

esp32_improv:
  authorizer: none

sensor:
  - platform: wifi_signal
    name: WiFi Signal
    id: wifi_signal_db
    entity_category: diagnostic

  - platform: copy
    source_id: wifi_signal_db
    name: WiFi Signal %
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: diagnostic

text_sensor:
  - platform: wifi_info
    ip_address:
      name: IP Address
      entity_category: diagnostic


