# Loads default set of integrations. DO. NOT. REMOVE.
default_config:

# frontend:
#   themes: !include_dir_merge_named themes

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24
    - 172.0.0.0/8
    - 100.64.0.0/10
    - 127.0.0.0/8
    - ::1
    - fe80::/64
    - fe00::/64
    - fd00::/64

# Required by integration
# https://github.com/bramstroker/homeassistant-powercalc
powercalc:

# Not supported yet in the UI
# https://www.home-assistant.io/integrations/wake_on_lan/
switch:
  - platform: wake_on_lan
    name: Server Storage WOL
    mac: 34:60:f9:bb:3d:16
    host: host-storage
    turn_off:
      service: mqtt.publish
      data:
        qos: 0
        retain: false
        payload: suspend
        topic: servers/host-storage
  - platform: wake_on_lan
    name: Server Backups WOL
    mac: 60:a4:4c:40:52:57
    host: host-backups
    turn_off:
      service: mqtt.publish
      data:
        qos: 0
        retain: false
        payload: suspend
        topic: servers/host-backups

# Add some additional time date sensors for use in scripts
sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'date_time'
      - 'date_time_iso'

# Exclude these entities from showing in the logbook/Activity stream
# because they're quite spammy.
logbook:
  exclude:
    entities:
      - sensor.time
      - sensor.date
      - sensor.date_time
      - sensor.date_time_iso
      - sensor.fritz_box_7412_ui_connection_uptime
      - sensor.fritz_box_7412_ui_last_restart
    entity_globs:
      - sensor.weather_*
    domains:
      - sun

# Prevent these entities from being written to storage. 
# Quite useful on a Raspberry Pi SD card to save write wear.
recorder:
  exclude:
    entities:
      - sensor.time
      - sensor.date
      - sensor.date_time
      - sensor.date_time_utc
      - sensor.date_time_iso
      - sensor.time_date
      - sensor.time_utc
      - sensor.beat
      - sensor.fritz_box_7412_ui_connection_uptime
      - sensor.fritz_box_7412_ui_last_restart
    entity_globs:
      - sensor.weather_*
    domains:
      - sun

# Includes
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
input_select: !include input_select.yaml
template: !include template.yaml
