apiVersion: v1
kind: ConfigMap
metadata:
  namespace: home-infrastructure
  name: metallb-default-config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.1.200-192.168.1.250