# -------------------------------------------------------------------
# INFRA
# -------------------------------------------------------------------
host_type: baremetal
host_name: belinda
host_city: ber
host_location: kberg
host_ipv4: 192.168.1.117
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# -------------------------------------------------------------------
# ANSIBLE
# -------------------------------------------------------------------
ansible_host: belinda
ansible_user: "{{ vault_server_username }}"
ansible_become_password: "{{ vault_password }}"

# -------------------------------------------------------------------
# UBUNTU
# -------------------------------------------------------------------

ubuntupro_attach: false

# -------------------------------------------------------------------
# BOOTSTRAP
# -------------------------------------------------------------------
bootstrap_ubuntu_timezone: "Europe/Berlin"

# -------------------------------------------------------------------
# HARDWARE
# -------------------------------------------------------------------
raspberry_pi_wifi: false
raspberry_pi_boot_config_location: /boot/firmware/config.txt
raspberry_pi_config_overrides:
  - "dtoverlay=cooling_fan"
  - "dtparam=pciex1"
  - "dtparam=pciex1_gen=3" # https://docs.radxa.com/en/accessories/storage/penta-sata-hat/penta-for-rpi5

# -------------------------------------------------------------------
# NETWORK
# -------------------------------------------------------------------
host_primary_interface: "eth0"
host_ipv4_subnet: 24
configure_dns_linkdevice_physical: "eth0"
tailscale_exit_node: false

# -------------------------------------------------------------------
# ZFS
# -------------------------------------------------------------------

zfs:
  slowpool:
    vdevs:
      - type: mirror
        disks:
          - /dev/disk/by-id/scsi-SATA_WDC_WeD20SPZX-22U_WD-WX12A6317XCK
          - /dev/disk/by-id/scsi-SATA_WDC_WD20SPZX-22U_WD-WX82E2125JHD
    datasets:
      compositions:
      backups:
        datasets:
          raw:
            properties:
              encryption: aes-256-gcm
              keylocation: "{{ vault_zfs_default_encryption_passphrase_path }}"
              keyformat: passphrase

# -------------------------------------------------------------------
# COMPOSITIONS
# -------------------------------------------------------------------
compositions_dataset: slowpool/compositions
compositions:
  - container-management
  - reverseproxy
  - zfs-api

# -------------------------------------------------------------------
# BACKUPS
# -------------------------------------------------------------------
backups_zfs_server_local_dataset: slowpool/backups/raw
backups_zfs_server_offsite_enabled: false # for now
backups_zfs_server_offsite_bwlimit: 3M
