services:
  diun:
    container_name: "{{ container_name }}"
    command: serve
    platform: linux/amd64
    environment:
      - "LOG_LEVEL=info"
      - "LOG_JSON=false"
      - "DIUN_WATCH_WORKERS=20"
      - "DIUN_WATCH_SCHEDULE=0 */6 * * *"
      - "DIUN_WATCH_JITTER=30s"
      - "DIUN_NOTIF_PUSHOVER_TOKEN={{vault_pushover_home_automation_key}}"
      - "DIUN_PROVIDERS_DOCKER=true"
      - "TZ=Berlin/Europe"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
