services:
  diun:
    container_name: "{{ container_name }}"
    command: serve
    environment:
      - "LOG_LEVEL=info"
      - "LOG_JSON=false"
      - "TZ=Berlin/Europe"
    image: "{{ container_image }}"
    restart: unless-stopped
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}/data:/data"
      - "{{ container_config_dir }}/{{ container_name }}/diun.yml:/diun.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
