# Grafana Alerting Provisioning
# https://grafana.com/docs/grafana/latest/administration/provisioning/#alerting

apiVersion: 1

contactPoints:
  - orgId: 1
    name: Email
    receivers:
      - uid: email-receiver
        type: email
        settings:
          addresses: "alert@{{ vault_personal_domain }}"
        disableResolveMessage: false

policies:
  - orgId: 1
    receiver: Email
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
