apiVersion: 1

datasources:
  - name: {{ composition_grafana_victoriametrics_name }}
    type: prometheus
    access: proxy
    url: {{ composition_grafana_victoriametrics_url }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "60s"
      httpMethod: POST
      tlsSkipVerify: false
