[Unit]
Description=ZFS Backup Infrastructure Playbook Timer
Requires=zfs-backup-playbook.service

[Timer]
{% if zfs_backup_playbook_schedule == "hourly" %}
OnCalendar=hourly
{% elif zfs_backup_playbook_schedule == "weekly" %}
OnCalendar=weekly
{% else %}
OnCalendar=daily
{% endif %}
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
