# code: language=ansible
name: "{{ composition_name }}"
services:
  runner01:
    container_name: runner01
    image: gitea/act_runner:latest
    restart: unless-stopped
    privileged: true
    ports:
      - "{{ gitea_runner_port }}:{{ gitea_runner_port }}"
    environment:
      - "CONFIG_FILE=/config.yaml"
      - "GITEA_INSTANCE_URL=https://gitea.{{ domain_name }}"
      - "GITEA_RUNNER_REGISTRATION_TOKEN={{ gitea_runner_registration }}"
      - "GITEA_RUNNER_JOB_CONTAINER_NETWORK={{ default_docker_network }}"
      - "GITEA_RUNNER_NAME={{ ansible_facts['hostname'] }}-runner01"
    volumes:
      - "{{ composition_config }}/runner01:/data"
      - "/opt/gitea/cache:/cache"
      - "/opt/gitea/hostedtoolcache:/opt/hostedtoolcache"
      - "{{ composition_config }}/runners/config.yaml:/config.yaml"
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - "{{ default_docker_network }}"

  # runner02:
  #   container_name: runner02
  #   image: gitea/act_runner:latest
  #   restart: unless-stopped
  #   privileged: true
  #   ports:
  #     - "{{ gitea_runner_port }}:{{ gitea_runner_port }}"
  #   environment:
  #     - "CONFIG_FILE=/config.yaml"
  #     - "GITEA_INSTANCE_URL=https://gitea.{{ domain_name }}"
  #     - "GITEA_RUNNER_REGISTRATION_TOKEN={{ gitea_runner_registration }}"
  #     - "GITEA_RUNNER_JOB_CONTAINER_NETWORK={{ default_docker_network }}"
  #     - "GITEA_RUNNER_NAME={{ ansible_facts['hostname'] }}-runner02"
  #   volumes:
  #     - "{{ composition_config }}/runner02:/data"
  #     - "/opt/gitea/cache:/cache"
  #     - "/opt/gitea/hostedtoolcache:/opt/hostedtoolcache"
  #     - "{{ composition_config }}/runners/config.yaml:/config.yaml"
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   networks:
  #     - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
