# ###################################################################
# Prepare a server to receive ZFS datasets
# ###################################################################

- name: Ensure package dependencies exist
  become: true
  ansible.builtin.apt:
    name:
      - zfsutils-linux
      - sanoid
      - acl
      - moreutils # for ts (timestamp) util
      - lzop
      - mbuffer
      - mosquitto-clients
    state: present

# TODO: is this even needed?
- name: Publish backup server public key as fact
  ansible.builtin.set_fact:
    public_key: "{{ vault_zfsbackups_public_key }}"

- name: DEBUG datasets raw
  ansible.builtin.debug:
    msg: >-
      {{ hostvars[item].zfs | zfs_critical_datasets }}
  loop: "{{ groups[zfsbackup_pull_group] }}"

# https://stackoverflow.com/a/78339774
- name: Concat datasets
  ansible.builtin.set_fact:
    backup_datasets: >-
      {% set data = namespace(test=[]) %}
      {%- for ds in (hostvars[item].zfs | zfs_critical_datasets) -%}
        {% set data.test = data.test + [{'dataset': (item ~ '/' ~ ds.dataset), 'properties': (ds.properties | default({})) }] %}
      {%- endfor -%}
      {{ (backup_datasets | default([])) + data.test }}
  loop: "{{ groups[zfsbackup_pull_group] }}"

- name: DEBUG backup_datasets
  ansible.builtin.debug:
    msg: "{{ backup_datasets }}"

- name: Ensure backup datasets exist
  become: true
  community.general.zfs:
    name: "{{ zfsbackup_dataset }}/{{ item.dataset }}"
    extra_zfs_properties: "{{ item.properties }}"
    state: present
  loop: "{{ backup_datasets }}"


# - name: Ensure script working dir exists
#   become: true
#   ansible.builtin.file:
#     path: "/opt/zfsbackup"
#     state: directory
#     owner: "{{ ansible_user }}"
#     group: "{{ ansible_user }}"
#     mode: "0774"

# - name: Ensure backup script exists
#   become: true
#   ansible.builtin.template:
#     src: templates/zfs-backups.py
#     dest: "{{ zfsbackup_script_path }}/zfs-backups"
#     owner: "{{ ansible_user }}"
#     group: "{{ ansible_user }}"
#     mode: "0774"

# # Fix for backup script
# # see https://unix.stackexchange.com/questions/374093/why-doesnt-sudo-sh-source-profile-d-scripts
# - name: Add script to system-wide $PATH
#   become: true
#   ansible.builtin.copy:
#     dest: /etc/profile.d/custom-path-zfs-backup.sh
#     content: 'PATH=$PATH:{{ zfsbackup_script_path }}'
#     owner: root
#     group: root
#     mode: "0644"

# - name: "Ensure user can sudo without password"
#   become: true
#   community.general.sudoers:
#     name: allow-zfsbackup
#     state: present
#     user: "{{ ansible_user }}"
#     nopassword: true
#     commands:
#       - "{{ zfsbackup_script_path }}/zfs-backups"

# - name: Ensure .ssh directory exists
#   ansible.builtin.file:
#     dest: "/home/{{ ansible_user }}/.ssh"
#     mode: "0700"
#     owner: "{{ ansible_user }}"
#     group: "{{ ansible_user }}"
#     state: directory

# - name: Ensure SSH backup user key exists
#   ansible.builtin.copy:
#     content: "{{ vault_zfsbackups_privatekey_b64 | b64decode }}"
#     dest: "/home/{{ ansible_user }}/.ssh/id_rsa"
#     mode: "0600"
#     owner: "{{ ansible_user }}"
#     group: "{{ ansible_user }}"

# - name: Ensure .ssh directory exists for root
#   become: true
#   ansible.builtin.file:
#     dest: "/root/.ssh"
#     mode: "0700"
#     owner: root
#     group: root
#     state: directory

# - name: Ensure SSH backup user key exists for root
#   become: true
#   ansible.builtin.copy:
#     content: "{{ vault_zfsbackups_privatekey_b64 | b64decode }}"
#     dest: "/root/.ssh/id_rsa"
#     mode: "0600"
#     owner: root
#     group: root
