# Grafana Configuration

# Admin credentials
GF_SECURITY_ADMIN_USER={{ composition_grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ composition_grafana_admin_password }}

# Server settings
GF_SERVER_ROOT_URL=https://{{ composition_grafana_subdomain }}.{{ domain_name }}
GF_SERVER_SERVE_FROM_SUB_PATH=false

# UI preferences
GF_USERS_DEFAULT_THEME={{ composition_grafana_default_theme }}

# Disable telemetry
GF_ANALYTICS_REPORTING_ENABLED=false
GF_ANALYTICS_CHECK_FOR_UPDATES=false

# Security
GF_SECURITY_DISABLE_GRAVATAR=true
GF_SNAPSHOTS_EXTERNAL_ENABLED=false

# SMTP / Email settings
GF_SMTP_ENABLED=true
GF_SMTP_HOST={{ vault_smtp_host }}:587
GF_SMTP_USER={{ vault_smtp_user }}
GF_SMTP_PASSWORD={{ vault_smtp_password }}
GF_SMTP_FROM_ADDRESS=alert@{{ vault_personal_domain }}
GF_SMTP_FROM_NAME=Grafana
