[Unit]
Description=Email Backup Sync Service (%i)

[Service]
Type=oneshot
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ emailbackup_script_dir }}/emailbackup-run-%i.sh
StandardOutput=journal
StandardError=journal
