TZ="Europe/Berlin"
SEMAPHORE_WEB_ROOT="https://{{ composition_dns_subdomains[0] }}.{{ domainname_infra }}"
SEMAPHORE_DB_DIALECT="sqlite"
SEMAPHORE_PLAYBOOK_PATH="/tmp/semaphore/"
SEMAPHORE_ADMIN="{{ composition_semaphore_admin_login }}"
SEMAPHORE_ADMIN_NAME="{{ composition_semaphore_admin_name }}"
SEMAPHORE_ADMIN_EMAIL="{{ composition_semaphore_admin_email }}"
SEMAPHORE_ADMIN_PASSWORD="{{ composition_semaphore_admin_password }}"
SEMAPHORE_ACCESS_KEY_ENCRYPTION="{{ composition_semaphore_access_key_encryption }}"
