# code: language=ansible
name: "{{ composition_name }}"
services:
  homeassistant:
    container_name: homeassistant
    privileged: true
    network_mode: host
    image: ghcr.io/home-assistant/home-assistant:2024.9
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "homepage.group=Home Automation"
      - "homepage.name=Home Assistant"
      - "homepage.href=https://homeassistant.{{ domain_name }}"
      - "homepage.description=The brains of the home"
    volumes:
      - "{{ composition_config }}:/config"
      - "{{ composition_config }}/media:/media"
      - /etc/localtime:/etc/localtime:ro

networks:
  "{{ default_docker_network }}":
    external: true
