# code: language=ansible
name: "{{ composition_name }}"
services:
  homeassistant:
    container_name: homeassistant
    privileged: true
    network_mode: host
    image: ghcr.io/home-assistant/home-assistant:2024.9
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
    volumes:
      - "{{ composition_config }}:/config"
      - "{{ composition_config }}/media:/media"
      - /etc/localtime:/etc/localtime:ro

  esphome:
    container_name: esphome
    ports:
      - "6052:6052"
    privileged: true
    environment:
      - "ESPHOME_DASHBOARD_USE_PING=true"
    env_file: .environment_vars 
    image: esphome/esphome
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.esphome.rule=Host(`esphome.{{ domain_name }}`)"
      - "traefik.http.routers.esphome.tls=true"
      - "traefik.http.routers.esphome.tls.certresolver=letsencrypt"
      - "traefik.http.services.esphome.loadbalancer.server.port=6052"
    volumes:
      - "{{ composition_config }}/esphome:/config"
      - "/etc/localtime:/etc/localtime:ro"
networks:
  "{{ default_docker_network }}":
    external: true
