# code: language=ansible
name: "{{ composition_name }}"
services:
  homeassistant:
    container_name: homeassistant
    privileged: true
    network_mode: host
    image: ghcr.io/home-assistant/home-assistant:2025.2
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
    volumes:
      - "{{ composition_config }}/homeassistant:/config"
      - "{{ composition_config }}/media:/media"
      - /var/run/dbus:/run/dbus:ro
      - /etc/localtime:/etc/localtime:ro

  esphome:
    container_name: esphome
    privileged: true
    network_mode: host
    image: ghcr.io/esphome/esphome
    restart: unless-stopped
    env_file: .environment_vars 
    # environment:
    #   - "ESPHOME_DASHBOARD_USE_PING=true"
    labels:
      - "traefik.enable=true"
    volumes:
      - "{{ composition_config }}/esphome:/config"
      - "/etc/localtime:/etc/localtime:ro"

networks:
  "{{ default_docker_network }}":
    external: true
