[Unit]
Description=linux2mqtt

[Service]
Type=simple
Environment="TERM=dumb"
RemainAfterExit=true
ExecStart="{{ linux2mqtt_executable_path }} {{ linux2mqtt_params }}"

[Install]
WantedBy=multi-user.target
