# code: language=ansible
name: "{{ composition_name }}"
services:
  kagimcp:
    container_name: kagimcp
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kagimcp.rule=Host(`kagimcp.{{ domainname_infra }}`)"
      - "traefik.http.routers.kagimcp.tls=true"
      - "traefik.http.routers.kagimcp.tls.certresolver=letsencrypt"
      - "traefik.http.services.kagimcp.loadbalancer.server.port=8000"
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
