# code: language=ansible
name: "{{ composition_name }}"
services:
  emailbackup:
    container_name: emailbackup
    image: alpine:latest
    env_file: .environment_vars
    volumes:
      - "{{ emailbackup_storage_path }}:/data"
      - "{{ composition_config }}/mbsyncrc:/root/.mbsyncrc:ro"
      - "{{ composition_config }}/sync-script.sh:/sync-script.sh:ro"
    restart: "no"  # Run manually via systemd timer
    command: /bin/sh /sync-script.sh
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
