# code: language=ansible
name: "{{ composition_name }}"
services:
  gitea:
    container_name: gitea
    ports:
      - "127.0.0.1:3000:3000"
      - "222:22"
    image: gitea/gitea:1.25
    restart: unless-stopped
    env_file: .environment_vars
    environment:
      - GITEA__actions__ENABLED="true"
      - GITEA__indexer__REPO_INDEXER_ENABLED="true"
    healthcheck:
      # checks availability of Gitea's front-end with curl
      test: ["CMD", "curl", "-f", "gitea.{{ domain_name }}"]
      interval: 10s
      retries: 3
      start_period: 30s
      timeout: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`gitea.{{ domain_name }}`)"
      - "traefik.http.routers.gitea.tls=true"
      - "traefik.http.routers.gitea.tls.certresolver=letsencrypt"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    volumes:
      - "{{ composition_config }}/gitea:/data"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
