# code: language=ansible
name: "{{ composition_name }}"
services:
  gitea:
    container_name: gitea
    ports:
      - "3000:3000"
      - "222:22"
    image: gitea/gitea:latest
    restart: unless-stopped
    env_file: .environment_vars
    healthcheck:
      # checks availability of Gitea's front-end with curl
      test: ["CMD", "curl", "-f", "gitea.{{ domain_name }}"]
      interval: 10s
      retries: 3
      start_period: 30s
      timeout: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`gitea.{{ domain_name }}`)"
      - "traefik.http.routers.gitea.tls=true"
      - "traefik.http.routers.gitea.tls.certresolver=letsencrypt"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    volumes:
      - "{{ composition_config }}/gitea:/data"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

  runner:
    image: gitea/act_runner:nightly
    container_name: gita_runner
    restart: unless-stopped
    depends_on:
      gitea:
        # required so runner can attach to gitea, see "healthcheck"
        condition: service_healthy 
        restart: true
    volumes:
      - "{{ composition_config }}/runners:/data"
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - GITEA_INSTANCE_URL="https://gitea.{{ domain_name }}"
      - GITEA_RUNNER_REGISTRATION_TOKEN="{{ gitea_runner_registration }}"

networks:
  "{{ default_docker_network }}":
    external: true
