# code: language=ansible
name: "{{ composition_name }}"
services:
  podcasts:
    container_name: podfetch
    user: 1000:1000
    ports:
      - "127.0.0.1:8567:8000"
    image: samuel19982/podfetch:latest
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.podfetch.rule=Host(`podcasts.{{ domain_name }}`)"
      - "traefik.http.routers.podfetch.tls=true"
      - "traefik.http.routers.podfetch.tls.certresolver=letsencrypt"
    volumes:
      - "{{ composition_config }}:/app/db"
      - "/slowpool/shared/media/podcasts:/app/podcasts"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
