# test
{% for item in static_dhcp_group %}
{% if (hostvars[item].cnames is defined) and (hostvars[item].inventory_hostname is defined) %}
{% for cname in hostvars[item].cnames %}
cname={{cname}},{{hostvars[item].inventory_hostname}}
{% endfor %}
{% endif %}
{% endfor %}
