Unattended-Upgrade::Automatic-Reboot "{{ security_autoupdate_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_autoupdate_reboot_time }}";

{% if security_autoupdate_mail_to %}
Unattended-Upgrade::Mail "{{ security_autoupdate_mail_to }}";
{% if security_autoupdate_mail_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}
{% endif %}

Unattended-Upgrade::Allowed-Origins {
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}";
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}-security";
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}-updates";
{% if _ubuntupro_initial_registration_status %}
    "{{ ansible_distribution }}ESM:{{ ansible_distribution_release }}";
    "{{ ansible_distribution }}ESM:{{ ansible_distribution_release }}-updates";
    "{{ ansible_distribution }}ESM:{{ ansible_distribution_release }}-security";
    "{{ ansible_distribution }}ESM:{{ ansible_distribution_release }}-infra-security";
    "{{ ansible_distribution }}ESMApps:{{ ansible_distribution_release }}-apps-security";
{% endif %}
{% for origin in security_autoupdate_additional_origins %}
    "{{ origin }}";
{% endfor %}
};


Unattended-Upgrade::Package-Blacklist {
{% for package in security_autoupdate_blacklist %}
    "{{package}}";
{% endfor %}
}
