infra_publicresources_digitalocean_reservedip:
  - id: bonjo
    region: ams3

# infra_publicresources_digitalocean_reservedip_assignment:
#   - id: mike
#     reservedip: bonjo
#     droplet: public26

infra_publicresources_digitalocean_firewall:
  - id: web
    tags:
      - secured
    inbound:
      - protocol: tcp
        port_range: 22
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 80
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 443
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: icmp
    outbound:
      - protocol: tcp
        port_range: 80
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 443
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: icmp

# infra_publicresources_digitalocean_droplet:
#   - id: public26
#     name: "public-server-01"
#     description: >
#       A general-purpose server for things out on the public internet.
#     image: ubuntu-24-04-x64
#     region: ams3
#     size: s-1vcpu-1gb-intel
#     tags:
#       - secured
#     volumes:
#       - storage01

infra_publicresources_digitalocean_volume:
  - id: storage01
    name: site-storage
    size: 30
    region: ams3

infra_publicresources_digitalocean_project:
  - name: Personal
    description: Personal stuff
    id: personal
    resources: # digitalocean_project_resources
      - digitalocean_domain.se
      - digitalocean_domain.wc
      - digitalocean_domain.aw
      # - digitalocean_droplet.public26
  - name: Infra
    description: Infra stuff
    id: infra
    resources: # digitalocean_project_resources
      - digitalocean_domain.ew
      - digitalocean_domain.rs

infra_publicresources_digitalocean_domain:
  - domain: "{{ vault_infra_domain_name_ew }}"
    id: ew
    ipaddress: digitalocean_reserved_ip.bonjo.ip_address
    description: >
      All my internal stuff. The domain itself is only public so
      that I can obtain Let's Encrypt certificates.
    records: [] # digitalocean_record

  - domain: "{{ vault_infra_domain_name_rs }}"
    id: rs
    ipaddress: digitalocean_reserved_ip.bonjo.ip_address
    description: >
      A testing domain for learning.
    records: [] # digitalocean_record

  - domain: "{{ vault_personal_domain }}"
    id: aw
    project: Personal Site
    ipaddress: digitalocean_reserved_ip.bonjo.ip_address
    description: >
      My personal website.
    records: # digitalocean_record
      - type: CNAME
        hostname: www
        value: "@"
        id: aw_a_www
      - type: CNAME
        hostname: shared
        value: "@"
        id: aw_a_shared
      - type: CNAME
        hostname: gts
        value: "@"
        id: aw_a_gts
      - type: TXT
        hostname: _atproto
        value: "did=did:plc:fly2zmd5i47iy4mv7yqsc7x4"
        id: aw_txt_atproto
      - type: TXT
        hostname: _dmarc
        value: "v=DMARC1;p=none;rua=mailto:postmaster@{{ vault_olddomain_wc }}"
        id: aw_txt_dmarc
      - type: TXT
        value: "v=spf1 include:{{ vault_mailbox_domain }} ~all"
        id: aw_txt_spf
      - type: CNAME
        hostname: mbo0004._domainkey
        value: "mbo0004._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk4
      - type: CNAME
        hostname: mbo0003._domainkey
        value: "mbo0003._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk3
      - type: CNAME
        hostname: mbo0002._domainkey
        value: "mbo0002._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk2
      - type: CNAME
        hostname: mbo0001._domainkey
        value: "mbo0001._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk1
      - type: MX
        value: "mxext3.{{ vault_mailbox_domain }}."
        priority: 20
        ttl: 14400
        id: aw_mx_mb3
      - type: MX
        value: "mxext2.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: aw_mx_mb2
      - type: MX
        value: "mxext1.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: aw_mx_mb1

  - domain: "{{ vault_olddomain_se }}"
    id: se
    project: Personal Site
    ipaddress: digitalocean_reserved_ip.bonjo.ip_address
    description: >
      A personal site from many years ago. I'd still use it, but
      it's a .co.uk and that makes me sad. Doubly sadly it's bound
      up with a paid Google account that I'm trying to rid myself of.
    records: # digitalocean_record
      - type: CNAME
        hostname: www
        value: "@"
        id: se_a_www
      - type: MX
        value: aspmx.l.google.com.
        priority: 1
        ttl: 1800
        id: se_mx_google
      - type: MX
        value: alt1.aspmx.l.google.com.
        priority: 5
        ttl: 1800
        id: se_mx_google_alt1
      - type: MX
        value: alt2.aspmx.l.google.com.
        priority: 5
        ttl: 1800
        id: se_mx_google_alt2
      - type: MX
        value: alt3.aspmx.l.google.com.
        priority: 10
        ttl: 1800
        id: se_mx_google_alt3
      - type: MX
        value: alt4.aspmx.l.google.com.
        priority: 10
        ttl: 1800
        id: se_mx_google_alt4

  - domain: "{{ vault_olddomain_wc }}"
    id: wc
    project: Personal Site
    description: >
      This used to be my personal site. But several people thought
      it had something to do with crypto and so I noped out.
    records: # digitalocean_record
      - type: CNAME
        hostname: www
        value: "@"
        id: wc_a_www
      - type: TXT
        hostname: _dmarc
        value: "v=DMARC1;p=none;rua=mailto:postmaster@{{ vault_olddomain_wc }}"
        id: wc_txt_dmarc
      - type: TXT
        value: "v=spf1 include:{{ vault_mailbox_domain }} ~all"
        id: wc_txt_spf
      - type: CNAME
        hostname: mbo0004._domainkey
        value: "mbo0004._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk4
      - type: CNAME
        hostname: mbo0003._domainkey
        value: "mbo0003._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk3
      - type: CNAME
        hostname: mbo0002._domainkey
        value: 'mbo0002._domainkey.{{ vault_mailbox_domain }}.'
        id: wc_txt_dk2
      - type: CNAME
        hostname: mbo0001._domainkey
        value: "mbo0001._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk1
      - type: MX
        value: "mxext3.{{ vault_mailbox_domain }}."
        priority: 20
        ttl: 14400
        id: wc_mx_mb3
      - type: MX
        value: "mxext2.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: wc_mx_mb2
      - type: MX
        value: "mxext1.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: wc_mx_mb1
