infra_publicresources_hcloud_server:
  - id: public26
    name: "public-server-01"
    description: >
      A general-purpose server for things out on the public internet.
    image: ubuntu-24.04
    region: nbg1
    size: cax21
    labels:
      - key: secured
    volumes:
      - storage01

infra_publicresources_hcloud_floating_ip:
  - id: bonjo
    region: nbg1
    type: ipv4

infra_publicresources_hcloud_floating_ip_assignment:
  - id: mike
    reservedip: bonjo
    server_id: public26

infra_publicresources_hcloud_volume:
  - id: storage01
    name: site-storage
    size: 20
    server_id: public26

infra_publicresources_hcloud_firewall:
  - id: web
    apply_to_label: secured
    inbound:
      - protocol: tcp
        port_range: 22
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 80
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 443
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: icmp
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
    outbound:
      - protocol: tcp
        port_range: 80
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: tcp
        port_range: 443
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: udp
        port_range: 53
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"
      - protocol: icmp
        ip_addresses:
          - "0.0.0.0/0"
          - "::/0"



infra_publicresources_hetzner_domain:
  - domain: "{{ vault_infra_domain_name_ew }}"
    id: ew
    ipaddress: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
    description: >
      All my internal stuff. The domain itself is only public so
      that I can obtain Let's Encrypt certificates.
    records:
      - type: A
        hostname: "@"
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: ew_a_root
      - type: A
        hostname: www
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: ew_a_www

  - domain: "{{ vault_infra_domain_name_rs }}"
    id: rs
    ipaddress: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
    description: >
      A testing domain for learning.
    records:
      - type: A
        hostname: "@"
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: rs_a_root
      - type: A
        hostname: www
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: rs_a_www

  - domain: "{{ vault_personal_domain }}"
    id: aw
    project: Personal Site
    description: >
      My personal website.
    records:
      - type: A
        hostname: "@"
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: aw_a_root
      - type: A
        hostname: www
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: aw_a_www
      - type: CNAME
        hostname: shared
        value: "{{ vault_personal_domain }}"
        id: aw_a_shared
      - type: CNAME
        hostname: gts
        value: "{{ vault_personal_domain }}"
        id: aw_a_gts
      - type: CNAME
        hostname: photos
        value: "{{ vault_personal_domain }}"
        id: aw_a_px
      - type: TXT
        hostname: _dmarc
        value: "v=DMARC1;p=none;rua=mailto:postmaster@{{ vault_olddomain_wc }}"
        id: aw_txt_dmarc
      - type: TXT
        value: "v=spf1 include:{{ vault_mailbox_domain }} ~all"
        id: aw_txt_spf
      - type: CNAME
        hostname: mbo0004._domainkey
        value: "mbo0004._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk4
      - type: CNAME
        hostname: mbo0003._domainkey
        value: "mbo0003._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk3
      - type: CNAME
        hostname: mbo0002._domainkey
        value: "mbo0002._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk2
      - type: CNAME
        hostname: mbo0001._domainkey
        value: "mbo0001._domainkey.{{ vault_mailbox_domain }}."
        id: aw_txt_dk1
      - type: MX
        value: "mxext3.{{ vault_mailbox_domain }}."
        priority: 20
        ttl: 14400
        id: aw_mx_mb3
      - type: MX
        value: "mxext2.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: aw_mx_mb2
      - type: MX
        value: "mxext1.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: aw_mx_mb1

  - domain: "{{ vault_olddomain_se }}"
    id: se
    project: Personal Site
    ipaddress: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
    description: >
      A personal site from many years ago. I'd still use it, but
      it's a .co.uk and that makes me sad. Doubly sadly it's bound
      up with a paid Google account that I'm trying to rid myself of.
    records:
      - type: A
        hostname: "@"
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: se_a_root
      - type: A
        hostname: www
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: se_a_www
      - type: MX
        value: aspmx.l.google.com.
        priority: 1
        ttl: 1800
        id: se_mx_google
      - type: MX
        value: alt1.aspmx.l.google.com.
        priority: 5
        ttl: 1800
        id: se_mx_google_alt1
      - type: MX
        value: alt2.aspmx.l.google.com.
        priority: 5
        ttl: 1800
        id: se_mx_google_alt2
      - type: MX
        value: alt3.aspmx.l.google.com.
        priority: 10
        ttl: 1800
        id: se_mx_google_alt3
      - type: MX
        value: alt4.aspmx.l.google.com.
        priority: 10
        ttl: 1800
        id: se_mx_google_alt4

  - domain: "{{ vault_olddomain_wc }}"
    id: wc
    project: Personal Site
    description: >
      This used to be my personal site. But several people thought
      it had something to do with crypto and so I noped out.
    records:
      - type: A
        hostname: "@"
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: wc_a_root
      - type: A
        hostname: www
        value: infra_publicresources_hcloud_floating_ip.bonjo.ip_address
        id: wc_a_www
      - type: TXT
        hostname: _dmarc
        value: "v=DMARC1;p=none;rua=mailto:postmaster@{{ vault_olddomain_wc }}"
        id: wc_txt_dmarc
      - type: TXT
        value: "v=spf1 include:{{ vault_mailbox_domain }} ~all"
        id: wc_txt_spf
      - type: CNAME
        hostname: mbo0004._domainkey
        value: "mbo0004._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk4
      - type: CNAME
        hostname: mbo0003._domainkey
        value: "mbo0003._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk3
      - type: CNAME
        hostname: mbo0002._domainkey
        value: 'mbo0002._domainkey.{{ vault_mailbox_domain }}.'
        id: wc_txt_dk2
      - type: CNAME
        hostname: mbo0001._domainkey
        value: "mbo0001._domainkey.{{ vault_mailbox_domain }}."
        id: wc_txt_dk1
      - type: MX
        value: "mxext3.{{ vault_mailbox_domain }}."
        priority: 20
        ttl: 14400
        id: wc_mx_mb3
      - type: MX
        value: "mxext2.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: wc_mx_mb2
      - type: MX
        value: "mxext1.{{ vault_mailbox_domain }}."
        priority: 10
        ttl: 14400
        id: wc_mx_mb1
