[Unit]
Description=ZFS Hourly Snapshot
After=zfs.target

[Service]
Type=oneshot
ExecStart={{ system_zfs_policy_script_path }}/zfs-snapshot --type hourly
{% if system_zfs_policy_healthchecksio_enabled and system_zfs_policy_hc_ping_urls is defined %}
ExecStartPost=curl -fsS --retry 3 --max-time 10 {{ system_zfs_policy_hc_ping_urls['hourly'] }}
{% endif %}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
