# code: language=ansible
name: "{{ composition_name }}"
services:
  github2karakeep:
    container_name: github2karakeep
    image: ghcr.io/hasansino/github2karakeep:latest
    restart: unless-stopped
    env_file: .environment_vars
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
