TZ="Europe/Berlin"
TIMEOUT=10s
GH_USERNAME=awfulwoman
GH_TOKEN="{{ github2karakeep_gh_token }}"
GH_PER_PAGE=100
GH_EXTRACT_TOPICS=true
KK_HOST="{{ github2karakeep_kk_url }}"
KK_TOKEN="{{ github2karakeep_kk_token }}"
KK_LIST=github2karakeep
UPDATE_INTERVAL=12h
EXPORT_LIMIT=10
DEFAULT_TAG=github2karakeep
