# code: language=ansible
name: "{{ composition_name }}"
services:
  jellyfin:
    container_name: jellyfin
    ports:
      - "8096:8096"
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ domain_name }}`)"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt"
    volumes:
      - "{{ composition_config }}/config:/config"
      - "{{ composition_config }}/cache:/cache"
      - "{{ shared_media_path }}:/data"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
    healthcheck:
      test: ["CMD", "curl", "-f", "-s", "-o", "/dev/null", "http://localhost:8096/health"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 2m


networks:
  "{{ default_docker_network }}":
    external: true
