- name: Check for existing LE private key
  ansible.builtin.stat:
    path: "{{ infra_certbot_le_private_key_dir }}/{{ infra_certbot_le_private_key_filename }}"
  register: le_key

- name: Generate LE private key if not present
  community.crypto.openssl_privatekey:
    path: "{{ infra_certbot_le_private_key_dir }}/{{ infra_certbot_le_private_key_filename }}"
    curve: secp521r1
    state: present
  when: not le_key.stat.exists

- name: Check whether the account exists and is accessible with our key
  community.crypto.acme_account_info:
    acme_directory: "{{ infra_certbot_dir }}"
    acme_version: "{{ infra_certbot_version }}"
    account_key_src: "{{ infra_certbot_le_private_key_dir }}/{{ infra_certbot_le_private_key_filename }}"
    # account_uri: "{{ infra_certbot_order_uri }}"
  register: account_data

- name: Debug acme account
  ansible.builtin.debug:
    var: account_data
  when: infra_certbot_debug

- name: Create ACME account if not present
  community.crypto.acme_account:
    account_key_src: "{{ infra_certbot_le_private_key_dir }}/{{ infra_certbot_le_private_key_filename }}"
    acme_directory: "{{ infra_certbot_dir }}"
    acme_version: "{{ infra_certbot_version }}"
    # account_uri: "{{ infra_certbot_order_uri }}"
    state: present
    terms_agreed: true
    contact:
      - "mailto:letsencrypt@{{ vault_personal_domain }}"
  when: not account_data.exists
  register: acme_account_creation

- name: Debug acme account
  ansible.builtin.debug:
    var: acme_account_creation
  when: infra_certbot_debug
