- name: Check for pipx
  ansible.builtin.stat:
    path: "{{ ansible_facts.user_dir }}/.local/bin/pipx"
  ignore_errors: true
  changed_when: false
  register: pipx_status

- name: DEBUG pipx_status
  ansible.builtin.debug:
    var: pipx_status

- name: Ensure pipx is installed
  when: not pipx_status.stat.exists
  block:

    - name: Ensure related packages exists
      become: true
      ansible.builtin.apt:
        name:
          - python3-venv
        state: present

    - name: Install pipx
      ansible.builtin.command: "{{ item }}"
      loop:
        - python3 -m venv /tmp/bootstrap
        - /tmp/bootstrap/bin/pip3 install pipx
        - /tmp/bootstrap/bin/pipx install pipx
        - rm -rf /tmp/bootstrap

- name: Ensure pipx packages are installed
  community.general.pipx:
    executable: "{{ ansible_facts.user_dir }}/.local/bin/pipx"
    name: "{{ item }}"
    install_deps: true
    state: install
  loop: "{{ system_pipx_packages }}"
