# -------------------------------------------------------------------
# ANSIBLE
# -------------------------------------------------------------------
ansible_host: host-albion
ansible_user: "{{ vault_server_username }}"
ansible_become_password: "{{ vault_password }}"

# -------------------------------------------------------------------
# INFRA
# -------------------------------------------------------------------
host_type: baremetal
host_name: albion
host_city: ldn
host_location: camden
# host_ipv4:
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# -------------------------------------------------------------------
# UBUNTU
# -------------------------------------------------------------------

ubuntupro_attach: true

# -------------------------------------------------------------------
# BOOTSTRAP
# -------------------------------------------------------------------#
bootstrap_ubuntu_timezone: "Europe/London"

# -------------------------------------------------------------------
# HARDWARE
# -------------------------------------------------------------------
raspberry_pi_wifi: false
raspberry_pi_boot_config_location: /boot/firmware/config.txt
raspberry_pi_config_overrides:
  - "dtoverlay=gpio-fan,gpiopin=14,temp=60000"

# -------------------------------------------------------------------
# NETWORK
# -------------------------------------------------------------------
host_primary_interface: "eth0"
# configure_dns_linkdevice_physical: "eth0"
tailscale_exit_node: true

# -------------------------------------------------------------------
# ZFS
# -------------------------------------------------------------------

zfs:
  fastpool:
    vdevs:
      - type: stripe
        disks: /dev/disk/by-id/scsi-SIntenso_SSD_SATAIII_512011020200
    datasets:
      # exampleset:
      #   infra:
      #     backup: true
      #   state: present
      #   delegation:
      #     users:
      #     permissions:
      #     local: true
      #     descendents:
      downloads:
      compositions:
      encryptedbackups:
        properties:
          encryption: aes-256-gcm
          keylocation: "{{ vault_zfs_default_encryption_passphrase_path }}"
          keyformat: passphrase


# -------------------------------------------------------------------
# DOWNLOADS
# -------------------------------------------------------------------

downloads_dir: "/fastpool/downloads"

# -------------------------------------------------------------------
# NFS
# -------------------------------------------------------------------
nfs_mounts:
  - remote_server: "host-storage"
    remote_path: "/slowpool/shared/media"
    local_path: "/fastpool/storage-share"
    # mount_options: "defaults,_netdev,x-systemd.after=network-online.target"

# -------------------------------------------------------------------
# COMPOSITIONS
# -------------------------------------------------------------------
compositions:
  - reverseproxy
  - container-management
  - zfs-api
