# -------------------------------------------------------------------
# ANSIBLE
# -------------------------------------------------------------------
ansible_host: host-albion
ansible_user: "{{ vault_server_username }}"
ansible_become_password: "{{ vault_password }}"

# -------------------------------------------------------------------
# INFRA
# -------------------------------------------------------------------
host_type: baremetal
host_name: albion
host_city: ldn
host_location: camden
# host_ipv4: 
host_pfqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}"
host_fqdn: "{{ host_name }}.{{ host_location }}.{{ host_city }}.{{ domain_name }}"

# -------------------------------------------------------------------
# UBUNTU
# -------------------------------------------------------------------

ubuntupro_attach: true

# -------------------------------------------------------------------
# BOOTSTRAP
# -------------------------------------------------------------------#
bootstrap_ubuntu_timezone: "Europe/London"

# -------------------------------------------------------------------
# HARDWARE
# -------------------------------------------------------------------
raspberry_pi_wifi: false
raspberry_pi_boot_config_location: /boot/firmware/config.txt
raspberry_pi_config_overrides:
  - "dtoverlay=gpio-fan,gpiopin=14,temp=60000"

# -------------------------------------------------------------------
# NETWORK
# -------------------------------------------------------------------
configure_dns_linkdevice_physical: "eth0"
tailscale_exit_node: true

# -------------------------------------------------------------------
# ZFS
# -------------------------------------------------------------------

zfs:
  fastpool:
    datasets:
      # exampleset:
      #   infra:
      #     backup: true
      #   state: present
      #   delegation:
      #     users:
      #     permissions:
      #     local: true
      #     descendents:
      #   properties:
      #     volsize: 10M
      #     encryption:
      #       algorithm: aes-256-gcm
      #       keylocation: 
      #       keyformat: passphrase
      compositions:
      encrypted:
        properties:
          encryption:
            keyformat: passphrase
        datasets:
          photos:

  slowpool:
    initialisation_command:
    datasets:
      personaldata:
      shareddata:
        datasets:
          person_a:
            datasets:
              supernested:

zfs_test_reference: "{{ zfs.slowpool.datasets.personaldata }}"

zfs_pools:
  - fastpool

# Named ZFS datasets
container_compositions_zfs_id: fastpool/compositions
zfsid_downloads: fastpool/downloads

# Datasets that should be present 
zfs_datasets:
  - "{{ container_compositions_zfs_id }}"
  - "{{ zfsid_downloads }}"

# Datasets to be backed-up
# These datasets will be pulled to a backup server
zfs_backup_datasets:
  - "{{ container_compositions_zfs_id }}"

# Define useful paths from ZFS datasets
compositions_config_dir: "/{{ container_compositions_zfs_id }}"
zfspath_downloads: "/{{ zfsid_downloads }}"

# -------------------------------------------------------------------
# NFS
# -------------------------------------------------------------------
nfs_mounts:
  - remote_server: "host-storage"
    remote_path: "/slowpool/shared/media"
    local_path: "/fastpool/storage-share"
    # mount_options: "defaults,_netdev,x-systemd.after=network-online.target"

# -------------------------------------------------------------------
# COMPOSITIONS
# -------------------------------------------------------------------
compositions:
  - reverseproxy
  - container-management
  - iplayarr
