services:
  wyomingwhisper:
    container_name: "{{ container_name }}"
    ports:
      - 10300:10300
    environment:
      - "TZ=Berlin/Europe"
    image: "{{ container_image }}"
    restart: unless-stopped
    command: "--model tiny-int8 --language en"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ container_config_dir }}/{{ container_name }}:/data"
