- name: Restart SSH service
  listen: Restart SSH
  ansible.builtin.service:
    name: "{{ security_sshd_name }}"
    state: "{{ security_ssh_restart_handler_state }}"
  async: 10
  poll: 0

- name: Reset SSH connection after restart
  listen: Restart SSH
  ansible.builtin.meta: reset_connection

- name: Wait for SSH to come back up after restart
  listen: Restart SSH
  ansible.builtin.wait_for_connection:
    delay: 2
    timeout: 60

- name: Restart fail2ban
  become: true
  ansible.builtin.service:
    name: fail2ban
    state: restarted
