[Unit]
Description=MQTT2CMD

[Service]
Type=simple
Environment="TERM=dumb"
RemainAfterExit=true
ExecStart="{{ mqtt2cmd_executable_path }}/{{ mqtt2cmd_executable }}"

[Install]
WantedBy=multi-user.target
