TZ="Europe/Berlin"
MASTODON_BASE_URL="{{ mastodon2karakeep_mastodon_base_url }}"
MASTODON_ACCESS_TOKEN="{{ mastodon2karakeep_mastodon_token }}"
KARAKEEP_URL="{{ mastodon2karakeep_kk_url }}"
KARAKEEP_TOKEN="{{ mastodon2karakeep_kk_token }}"
POLL_INTERVAL={{ mastodon2karakeep_poll_interval }}
DEFAULT_TAG={{ mastodon2karakeep_default_tag }}
