[Unit]
Description=MQTT2CMD

[Service]
Type=simple
Environment="TERM=dumb"
RemainAfterExit=true
ExecStart=/usr/local/bin/mqtt2cmd

[Install]
WantedBy=multi-user.target

