# code: language=ansible
name: "{{ composition_name }}"
services:
  web:
    image: nginx
    container_name: awfulwoman_beta
    ports:
      - "8081:80"
    env_file: .environment_vars
    environment:
      - NGINX_HOST="awfulwoman.com"
      - NGINX_PORT=80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beta.rule=Host(`awfulwoman.com`)"
      - "traefik.http.routers.beta.tls=true"
      - "traefik.http.routers.beta.tls.certresolver=letsencrypt"
    volumes:
      - "/site:/usr/share/nginx/html"
      - "{{ composition_config }}/nginx.conf:/etc/nginx/nginx.conf"
      - "{{ composition_config }}/logs:/var/log/nginx"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true
