ZFS_API_HOST={{ composition_zfs_api_host }}
ZFS_API_PORT={{ composition_zfs_api_port }}
ZFS_API_LOG_LEVEL={{ composition_zfs_api_log_level }}
ZFS_API_CORS_ORIGINS={{ composition_zfs_api_cors_origins }}
ZFS_API_COMMAND_TIMEOUT={{ composition_zfs_api_command_timeout }}
ZFS_API_AUTH_ENABLED={{ composition_zfs_api_auth_enabled | lower }}
ZFS_API_API_KEY={{ composition_zfs_api_api_key }}
ZFS_SNAPSHOT_REPORT_CACHE={{ system_zfs_policy_cache_file }}
HOSTNAME={{ host_name }}
