# code: language=ansible
name: "{{ composition_name }}"
services:
  motioneye:
    container_name: motioneye
    hostname: motioneye
    ports:
      - 8081:8081
      - 9081:9081
      - 8765:8765
    image: ghcr.io/motioneye-project/motioneye:edge
    privileged: true
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.motioneye.rule=Host(`motioneye.{{ ansible_hostname }}.{{ domain_name }}`)"
      - "traefik.http.routers.motioneye.tls=true"
      - "traefik.http.routers.motioneye.tls.certresolver=letsencrypt"
      - "traefik.http.services.motioneye.loadbalancer.server.port=8765"
    volumes:
      -  "{{ composition_config }}/shared:/shared"
      -  "{{ composition_config }}/etc:/etc/motioneye"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ default_docker_network }}"
{% if composition_motioneye_usbdevice %}
    devices:
      - "{{ composition_motioneye_usbdevice }}"
{% endif %}

networks:
  "{{ default_docker_network }}":
    external: true
