[Unit]
Description=ZFS Daily Snapshot
After=zfs.target

[Service]
Type=oneshot
ExecStart={{ system_zfs_policy_script_path }}/zfs-snapshot --type daily
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
