# code: language=ansible
name: "{{ composition_name }}"
services:
  music-assistant-server:
    image: ghcr.io/music-assistant/server:latest
    container_name: music-assistant-server
    restart: unless-stopped
    # Network mode must be set to host for MA to work correctly
    network_mode: host
    # privileged caps (and security-opt) needed to mount smb folders within the container
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    environment:
      # Provide logging level as environment variable.
      # default=info, possible=(critical, error, warning, info, debug)
      - LOG_LEVEL=info
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
    volumes:
      - "{{ composition_config }}:/data"
      - "/slowpool/shared/media/music:/media"
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f mass || exit 1"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 1m

networks:
  "{{ default_docker_network }}":
    external: true
