---
- name: Storage NAS
  hosts: host-storage
  roles:
    - role: bootstrap-ubuntu-server
    - role: network-netplan
    - role: hardware-host-bus-adapter
    - role: system-wakeonlan
    - role: client-nut
    - role: system-zfs
    - role: system-zfs-policy
    - role: system-mqtt2cmd
    - role: infothrill.nullmailer
      become: true
    - role: server-nfs
    - role: backups-zfs-client
    - role: composition-zfs-api
    - role: composition-victoriametrics
    - role: composition-loki
      tags: loki
    - role: composition-reverseproxy
    - role: composition-container-management
    - role: composition-github2karakeep
    - role: composition-audio
    - role: composition-jellyfin
    - role: composition-immich
    - role: composition-downloads
    - role: composition-finances
    - role: composition-gitea
    - role: composition-gitea-runners
    - role: composition-syncthing
    - role: composition-karakeep
    - role: composition-freshrss
    - role: composition-tubesync
    - role: composition-homepage
    - role: composition-bookmarks
    - role: composition-piper
    - role: composition-gotosocial
    - role: composition-libretranslate
    - role: system-smartmontools
    - role: monitoring-healthchecksio
    - role: system-promtail
      tags: promtail
    # - role: system-sleepuntil
    #   become: true
    # - role: system-powertop

  handlers:
    - name: Reboot host
      become: true
      ansible.builtin.reboot:
