---
- name: Test VM provisioning on host-storage
  hosts: host-storage
  roles:
    - role: virtual-qemu-host
    - role: infra-private-resources

  handlers:
    - name: Reboot host
      become: true
      ansible.builtin.reboot:
