# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0774"

- name: "Create .env file"
  ansible.builtin.template:
    src: environment_vars.j2
    dest: "{{ composition_root }}/.environment_vars"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0774"

# ----------------------------
# Specific tasks
# ----------------------------

- name: Ensure nginx config exists
  ansible.builtin.template:
    src: nginx.conf
    dest: "{{ composition_config }}/nginx.conf"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Ensure group "nginx" exists
  become: true
  ansible.builtin.group:
    name: "{{ awfulwoman_deploy_group }}"
    state: present

- name: Ensure main user is in nginx group
  become: true
  ansible.builtin.user:
    user: "{{ ansible_user }}"
    groups: "{{ awfulwoman_deploy_group }}"
    append: true

- name: Ensure deploy user is in nginx group
  become: true
  ansible.builtin.user:
    user: "{{ awfulwoman_deploy_user }}"
    groups: "{{ awfulwoman_deploy_group }}"
    append: true

- name: Ensure public deployment key exists
  become: true
  ansible.posix.authorized_key:
    user: "{{ awfulwoman_deploy_user }}"
    state: present
    key: "{{ vault_sitedeployer_publickey }}"

- name: Ensure nginx support dirs exist
  become: true
  ansible.builtin.file:
    path: "{{ composition_config }}/{{ dir_item }}"
    state: directory
    mode: "0755"
    owner: "{{ ansible_user }}"
    group: nginx
  loop_control:
    loop_var: dir_item
  loop:
    - logs

- name: Ensure nginx content dir exists and is accessible
  become: true
  ansible.builtin.file:
    path: "{{ awfulwoman_path }}"
    state: directory
    recurse: true
    mode: "0755"
    owner: "{{ awfulwoman_deploy_user }}"
    group: nginx

- name: Check for an index.html file
  become: true
  ansible.builtin.stat:
    path: "{{ awfulwoman_path }}/index.html"
  register: index_html

- name: Ensure a default index.html file exists
  become: true
  ansible.builtin.template:
    src: index.html
    dest: "{{ awfulwoman_path }}/index.html"
    owner: "{{ awfulwoman_deploy_user }}"
    group: nginx
    mode: "0644"
  when: not index_html.stat.exists

# ----------------------------
# Start composition
# ----------------------------

- name: Start Docker Compose project
  community.docker.docker_compose_v2:
    project_src: "{{ composition_root }}"
    state: present
    build: always
    remove_orphans: true
