services:
  traefik:
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    environment:
      - "TZ=Berlin/Europe"
      - "DO_AUTH_TOKEN={{ vault_letsencrypt_digitalocean_token }}"
    image: "{{ container_image }}"
    restart: unless-stopped
    command:      
      # - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=digitalocean"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.delaybeforecheck=0"
      # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.letsencrypt.acme.email=certs@whalecoiner.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    labels:
      - "traefik.frontend.rule=Host:traefik.{{ansible_hostname}}.affordablepotatoes.com"
      - "traefik.port=80"
      - "traefik.enable=true"
      - "traefik.backend=traefik"
    volumes:
      # - "{{ container_config_dir }}/{{ container_name }}/traefik-config.yaml:/traefik.yaml"
      - "{{ container_config_dir }}/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/etc/localtime:/etc/localtime:ro"
