http:
  routers:
    homeassistantfilerouter:
      service: homeassistantfileservice
      rule: Host(`homeassistant.affordablepotatoes.com`)
      # tls:
      #   certresolver: letsencrypt
      entrypoints:
        - web

  services:
    homeassistantfileservice:
      loadBalancer:
        servers:
          - url: "http://172.17.0.1:8123"
