http:
  routers:
    homeassistant-file-router:
      rule: Host(`homeassistant.affordablepotatoes.com`)
			tls:
        certresolver: letsencrypt
      entrypoints:
        - web
      service: homeassistant-file-service
  services:
    homeassistant-file-service:
      loadBalancer:
        servers:
          - url: 'http://172.18.0.1:8123'
