# code: language=ansible
name: "{{ composition_name }}"
services:
  iplayarr:
    container_name: iplayarr
    image: "nikorag/iplayarr:latest"
    restart: unless-stopped
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.iplayarr.rule=Host(`iplayarr.{{ domain_name }}`)"
      - "traefik.http.routers.iplayarr.tls=true"
      - "traefik.http.routers.iplayarr.tls.certresolver=letsencrypt"
      - "traefik.http.services.iplayarr.loadbalancer.server.port=4404"
    volumes:
      - "{{ iplayarr_downloads }}/shows:/data/shows"
      - "/fastpool/downloads/iplayer:/data/_incomplete"
      - "{{ composition_config }}/cache:/data"
      - "{{ composition_config }}/config:/config"
    networks:
      - "{{ default_docker_network }}"

networks:
  "{{ default_docker_network }}":
    external: true