# code: language=ansible

# ----------------------------
# Core tasks
# ----------------------------

- name: "Create compose file"
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: "{{ composition_root }}/docker-compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: "Create .env file"
  ansible.builtin.template:
    src: environment_vars.j2
    dest: "{{ composition_root }}/.environment_vars"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

# ----------------------------
# Specific tasks
# ----------------------------

- name: Create sub directories
  become: true
  ansible.builtin.file:
    path: "{{ composition_config }}/{{ dir_item }}"
    state: directory
  loop_control:
    loop_var: dir_item
  loop:
    - runners
    - runner01
    - runner02

- name: Create tmp directories
  become: true
  ansible.builtin.file:
    path: "/opt/gitea/{{ item }}"
    state: directory
    mode: "0775"
  loop_control:
    loop_var: dir_item
  loop:
    - cache
    - hostedtoolcache

- name: Copy over files
  become: true
  ansible.builtin.template:
    src: config.yaml
    dest: "{{ composition_config }}/runners/config.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

# - name: Run Configure DNS role
#   ansible.builtin.include_role:
#     name: "network-register-subdomain"
#   vars:
#     configure_dns_subdomains:
#       - git
