services:
  "{{ container_name }}":
    container_name: "{{ container_name }}"
    ports:
      - "3002:3000"
      - "222:22"
    # privileged: true
    environment:
      - "TZ=Europe/Berlin"
      - "USER_UID=1000"
      - "USER_GID=1000"
    image: "{{ container_image }}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.{{ domain_name }}`)"
      - "traefik.http.routers.{{ container_name }}.tls=true"
      - "traefik.http.routers.{{ container_name }}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{ container_name }}.loadbalancer.server.port=3000"
      - "traefik.http.middlewares.{{ container_name }}-header.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.{{ container_name }}.middlewares={{ container_name }}-header"
    volumes:
      - "{{ container_config_dir }}/{{ container_name }}:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - "{{ docker_default_network }}"