services:
  wyomingpiper:
    container_name: "{{ container_name }}"
    ports:
      - 10200:10200
    environment:
      - "TZ=Europe/Berlin"
    image: "{{ container_image }}"
    restart: unless-stopped
    command: "--voice en-us-libritts-high"
    labels:
      - "homepage.group=Home Automation"
      - "homepage.name=Piper"
      - "homepage.description=Speech Synthesis"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ container_config_dir }}/{{ container_name }}:/data"
